<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Upload Add Data</title>

	<script>	
		$(document).ready(function() {	
			
			$('#step1ButtonNextId').click(function() {
				showSpinner();
				submitFormAjaxHTML('uploadStep2', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
		
	 	});       
   
	   function initCommonResponse(returnData) {	
		   hideSpinner();
		   $('#mainBody').html( returnData);    	 
	   }
	</script>	
</head>

<body>
   
    <div class="page-hding">
                    <h1>Upload Data</h1>

                </div>

                <div class="dtatable-card mt-4" >

                    <div class="multisteps-form">

                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div class="multisteps-form__progress">
                                    <button class="multisteps-form__progress-btn js-active" type="button" title="Step 1"
                                        data-title="Step 1">Step <span>1</span>
                                    </button>
                                    <button class="multisteps-form__progress-btn" type="button" title="Step 2"
                                        data-title="Step 2">Step <span>2</span></button>
                                    <button class="multisteps-form__progress-btn" type="button" title="Step 3"
                                        data-title="Step 2">Step <span>3</span>
                                    </button>

                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <!-- C.Sparks FIXTHIS had to manually set height due to css and js errors  -->
                        <!--form panels-->
                          <!--copied this line and remove the height
                        <div class="adduser-form-bx addaset-formbx borderbx" style="height:420px">-->
							<div class="adduser-form-bx addaset-formbx borderbx" >
                        
                           <form id="dashboardFormDTO"  name="dashboardFormDTO"  class="multisteps-form__form" th:object="${dashboardFormDTO}"  method="post">  
                            
                                <!--single form panel-->
                                <div class="multisteps-form__panel js-active" data-animation="slideHorz">

                                    <div class="multisteps-form__content">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-2 colum-bx">
                                                <div class="uplod-inputbx">
                                                    <label>Select Industry</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-9 col-xl-10 colum-bx">
                                                <div class="tble-serch uplod-inputbx ">
                                                    <select class="form-select">
                                                        <option>Select Industry</option>
                                                        <option>Electric Grid</option>
                                                        <option value="1">Oil and Gas</option>
                                                        <option value="2">Solar</option>

                                                    </select>



                                                </div>

                                            </div>
                                            <div class="col-lg-3 col-xl-2 colum-bx">
                                                <div class="uplod-inputbx">
                                                    <label> Sub Industry </label>

                                                </div>

                                            </div>

                                            <div class="col-lg-9 col-xl-10 colum-bx">
                                                <div class="tble-serch uplod-inputbx">
                                                    <select class="form-select">
                                                        <option>Select Sub Industry</option>
                                                        <option>Distribution</option>
                                                        <option>Substation</option>
                                                        <option>Transmission</option>

                                                    </select>


                                                </div>

                                            </div>

                                            <div class="col-lg-3 col-xl-2 colum-bx">
                                                <div class="uplod-inputbx">
                                                    <label>Asset Type</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-9 col-xl-10 colum-bx">
                                                <div class="tble-serch uplod-inputbx">
                                                    <select class="form-select">
                                                        <option>Select Asset Type</option>
                                                        <option>Transformer</option>
                                                        <option>Recloser</option>
                                                        <option>Switchgear</option>
                                                        <option>Voltage Regulator</option>
                                                        <option>Capacitor Bank</option>
                                                        <option>Pole</option>
                                                        <option>Splice</option>

                                                    </select>


                                                </div>

                                            </div>

                                            <div class="col-lg-3 col-xl-2 colum-bx">
                                                <div class="uplod-inputbx">
                                                    <label>Sub Asset Type</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-9 col-xl-10 colum-bx">
                                                <div class="tble-serch uplod-inputbx">
                                                    <select class="form-select">
                                                        <option>Select Sub Asset Type</option>
                                                        <option>Sub Asset Type 1</option>
                                                        <option>Sub Asset Type 2</option>
                                                        <option>Sub Asset Type 3</option>
                                                        <option>Sub Asset Type 4</option>
                                                        <option>Sub Asset Type 5</option>
                                                    </select>


                                                </div>

                                            </div>


                                            <div id="step1ButtonNextId" class="usrad-btn import-astbtn sve-btn justify-content-end">
                                                <button type="button" class="js-btn-next">Next</button>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                

                            </form>
                        </div>
                    </div>


                </div>


</body>

</html>