
/*Loaders*/
#loader {
  position: fixed;
  z-index: -9;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  transition: all .25s; }

#loader.active {
  z-index: 99999;
  opacity: 1; }

#loader i {
  color: white; }

.spin-loader > div {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  color: white;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999999;
  justify-content: center;
  align-items: center; }

