<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Upload Add Data</title>


	<script>	
		$(document).ready(function() {	
			
 			// C.Sparks 1-8-24  there is no upload list, i removed that from the flow, go to dashboardinstead
			$('#step3ButtonViewDataListId').click(function() {
				showSpinner();
				submitFormHTML_Get('initDashboard', 'dashboardFormDTO');
			});
			
			
			$('#step3ButtonUploadNewDataId').click(function() {
				showSpinner();
				submitFormAjaxHTML('uploadStep1', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
		
	 	});       
   
	   function initCommonResponse(returnData) {	
		   hideSpinner();
		   $('#mainBody').html( returnData);    	 
	   }
	</script>	
</head>

<body>

    <form id="dashboardFormDTO"  name="dashboardFormDTO"  class="multisteps-form__form" th:object="${dashboardFormDTO}"  method="post">  
            
     <div class="page-hding page-hding">
         <h1>Upload Data</h1>

     </div>

     <div class="dtatable-card mt-4">

         <div class="multisteps-form">

	         <!--single form panel-->             
	         <div class="adduser-form-bx addaset-formbx borderbx">	                                                                       
		        <div class="multisteps-form__content">
		            <div class="row">
		                <div class="success-img text-center">
		                    <img src="./images/user-added.svg" class="img-fluid" alt="user-added"
		                        title="User Added Successfully.">
		                    <p>Data has been uploaded successfully.</p>
		                    <div i class="usrad-btn useradded-btns">
		                        <a id="step3ButtonViewDataListId"  href="#" class="btn-bcktouser">View Data List</a>
		                        <a id= "step3ButtonUploadNewDataId" href="#" class="btn-aduser">Upload New Data</a>
		                    </div>
		                </div>
		            </div>
		        </div>
	         </div>

       </div>
       
   </div>

 </form>
 
</body>

</html>