<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Upload Add Data</title>

	<script>	
		$(document).ready(function() {	
			
	        $('#assemble-data').DataTable({
	            responsive: true,
	        });
	        
			$('#addAssembliesDataId').click(function() {
				showSpinner();
				submitFormAjaxHTML('addAssembliesData', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
		
			$('#addAssembliesDetailId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssemblyDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
			
			
			
			
	 	});       
   
	   function initCommonResponse(returnData) {	
		   hideSpinner();
		   $('#mainBody').html( returnData);    	 
	   }
	</script>	
</head>

<body>
              
    <div class="mangeuser-page assetdta-page asemble-data-page"> 
 		<div class="page-hding">
            <h1>Assembly Data</h1>
            <div class="usrad-btn import-astbtn">
                <a id="addAssembliesDataId"  href="#">Create Assembly</a>                
            </div>
 
 <!-- Temp -->           
            <div class="usrad-btn import-astbtn">
                <a id="addAssembliesDetailId"  href="#">Assembly Details</a>                
            </div>
            
        </div>

     <div class="dtatable-card mt-4">
     
   		<form id="dashboardFormDTO" name="dashboardFormDTO"  th:object="${dashboardFormDTO}" >  
        	
        	<input type="hidden" id="uniqueAssetPkId" name="uniqueAssetPkId" >
        	
      		<table id="assemble-data" class="table table-striped recent-uplod-tble mt-4" style="width: 100%">
                         <thead>
                            <tr>
                                <th>Details</th>
                                <th>Id</th>
                                <th>Job Number</th>
                                <th> Description</th>
                                <th>Customer Job Number</th>
                                <th>Station Number</th>
                                <th>Trace Number</th>
                                <th>Customer</th>
                                <th>Location</th>
                                <th>Action</th>
                               

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="details-btn">
                                        <a href="#" class="barcode-btn"><i class="fa-solid fa-barcode"></i></a>
                                        <a href="Assemblies-details.html" class="eye-btn"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>0123654</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                <td>78965412</td>
                                <td>102540</td>
                                <td>205460</td>
                                <td>Lorem Ipsum</td>
                                <td>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,</td>
                                                                <td>
                                    <div class="acton-btns">
                                        <a href="#" class="edit-btn"><i class="fa-solid fa-pencil"></i></a>
                                        <a href="#" class="delete-btn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>

                            </tr>
                        
                            

                        </tbody>

                    </table>
      	
				 
             
                              
    </form> 
                    
   </div>
   </div> 
   	
	    
	    
</body>

</html>