<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Assemblies Details</title>
    
<script>
    $(document).ready(function() {	
		
		$('#tabAssemblyDetailsId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
    	
		$('#tabAssemblyDocumentId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyDocument', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyBarcodeId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyBarcode', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyTraceDocumentId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyTraceDocument', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyHistoryId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyHistory', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
	    $('#editAssembliesDataId').click(function() {
			showSpinner();
			submitFormAjaxHTML('editAssemblyData', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		}); 
	    
 	});       

   function initCommonResponse(returnData) {	
	   hideSpinner();
	   $('#mainBody').html( returnData);    	 
   }
        
</script>
</head>

<body id="Body">

    <div class="mangeuser-page assetdtaIL-page asmble-detaile-pge asemblies-details">
    
   		<form id="dashboardFormDTO" name="dashboardFormDTO"  th:object="${dashboardFormDTO}" >  
        	
        	<input type="hidden" id="assemblyPkid" name="assemblyPkid"  th:value="${dashboardFormDTO.getAssemblyPkid}" >
        	 
            <div class="page-hding">
                <h1>Assembly Details</h1>
                <div class="usrad-btn import-astbtn">
                    <a id="editAssembliesDataId" href="#">Edit Assembly </a>
                    <a href="#" class="imprort-btn">Export Assembly </a>
                </div>
            </div>
        </form>

        <!-- Nav tabs -->
        <div class="custome-tabs">
            <ul class="nav nav-tabs  mt-4" role="tablist">
                <li class="nav-item">
                    <a id="tabAssemblyDetailsId" class="nav-link " data-bs-toggle="tab" href="#">Details </a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyDocumentId" class="nav-link " data-bs-toggle="tab" href="#">Assembly Document</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyBarcodeId" class="nav-link " data-bs-toggle="tab" href="#">Barcode</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyTraceDocumentId" class="nav-link" data-bs-toggle="tab" href="#"> Traceability Document</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyHistoryId" class="nav-link active" data-bs-toggle="tab" href="#">History</a>
                </li>
            </ul>
            

            <div class="dtatable-card">

                <div class="tab-content">
                    
 				   <div id="assemblyHistory" class="tab-pane active">
 				   
                       <div class="tab-subhding procut-tab">
                           <h3>History
                           </h3>
                       </div>
                       <div class="row">
                           <div class="col-md-3">

                           </div>
                       </div>
                    </div>
                            
                </div>
          </div>               
                       

    <!-- C.Sparks This is a place holder for the Modal dialog to be created. -->
    <div id="asset_ModalBody"></div>
                                                      
 </div>           
  </div>
            
</body>

</html>