<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create Assembly</title>
	 
 <script>
    $(document).ready(function() {	
		
	    $('#updateButtonId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		}); 
			
 	});       

   function initCommonResponse(returnData) {	
	   hideSpinner();
	   $('#mainBody').html( returnData);    	 
   }
        
    </script>	 
	 
</head>

<body>
              
  <div class="mangeuser-page assetdta-page ad-Assemblies-page"> 
	<div class="page-hding">
        <h1>Edit Assembly</h1>          
     </div>

     <div class="dtatable-card mt-4">
     
   		<form id="dashboardFormDTO" name="dashboardFormDTO"  th:object="${dashboardFormDTO}" >  
        	
        	<input type="hidden" id="assemblyPkid" name="assemblyPkid"  th:value="${dashboardFormDTO.getAssemblyPkid}" >
        	 
    	      <div class="adduser-form-bx addaset-formbx borderbx">

						<div class="row align-items-center">                       
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx"> <label>Fabricator Company</label>  </div>
                            </div>
                            <div class="col-lg-9 col-xl-9 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Fabricator Company" title="Fabricator Company" class="form-control">
                                </div>
                            </div>  
  						</div>
  						
  						
  						
                        <div class="row align-items-center">                                           
                            <div class="col-lg-3 col-xl-2 colum-bx ">
                                <div class="uplod-inputbx  "> <label>Station Number</label>  </div>
                            </div>
                            <div class="col-lg-9 col-xl-3 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Station Number" title="Station Number" class="form-control">
                                </div>
                            </div>                                                        
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx"> <label>Station Name</label>  </div>
                            </div>
                            <div class="col-lg-9 col-xl-4 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Station Name" title="Station Name" class="form-control">
                                </div>
                            </div>                                                        
						</div>



						<div class="row align-items-center"> 
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx"> <label>Design Number</label>  </div>
                            </div>
                            <div class="col-lg-9 col-xl-3 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Design Number" title="Design Number" class="form-control">
                                </div>
                            </div>                                                  
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx"> <label>Drawing Number</label>  </div>
                            </div>
                            <div class="col-lg-9 col-xl-4 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Drawing Number" title="Drawing Number" class="form-control">
                                </div>
                            </div>   
 						</div>







						<div class="row align-items-center">                               
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx"> <label>Job Number</label></div>
                            </div>
                            <div class="col-lg-9 col-xl-3 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Enter Job Number"  title="Enter Job Number" class="form-control">
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx"><label> Description </label> </div>
                            </div>
                            <div class="col-lg-9 col-xl-4 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Enter Description"  title=" Enter Description" class="form-control">
                                </div>
                            </div>
						</div>



						<div class="row align-items-center"> 
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx"> <label>Customer </label>  </div>
                            </div>
                            <div class="col-lg-9 col-xl-9 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Enter Customer" title=" Customer" class="form-control">
                                </div>
                            </div>
						</div>
						
						
						
						
						<div class="row align-items-center"> 
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">  <label>Customer Job Number</label>  </div>
                            </div>
                            <div class="col-lg-9 col-xl-3 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Customer Job Number"  title="Customer Job Number" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx"> <label>Customer Spec Number </label> </div>
                            </div>
                            <div class="col-lg-9 col-xl-4 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Customer Spec Number" title="Trace Location" class="form-control">
                                </div>
                            </div>
                        </div>    
                                 
                        <div class="usrad-btn import-astbtn sve-btn justify-content-end">
                            <a id="updateButtonId"   href="#">Update</a>
                        </div>


                    </div>
      	 
    </form> 
                    
   </div>
   </div> 
   	</body>

</html>