<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Assemblies Details</title>
    
<script>
    $(document).ready(function() {	
		
		$('#tabAssemblyDetailsId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
    	
		$('#tabAssemblyDocumentId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyDocument', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyBarcodeId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyBarcode', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyTraceDocumentId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyTraceDocument', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyHistoryId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyHistory', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
	    $('#editAssembliesDataId').click(function() {
			showSpinner();
			submitFormAjaxHTML('editAssemblyData', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		}); 
	    
	    
	    // TODO Sparks 5-9-2024 Navigation from the Document Cards - AI processing
	    //   This is temporary for now so we can code the AI calls, it will be automatic later, thats why that code is in a "Logic" module
	    //   so it can be shared later.
	    
    	$('#buttonAwsId').click(function() {	
    		    		
    		showSpinner();	
    		
     		var myData = {version:"1.0", protocol:"json", clientId:"locuslink"};
           	var innerData = {};
    		innerData["assemblyPkId"] =	pkId = $('input#assemblyPkId').val();
    		//innerData["deleteAllFilesWithPk"] =	"YES";
    		myData["data"] = innerData;
    		submitFormAjaxJSON("processAWSTextract", myData, "asyncResponseCommonResponse");
    	});   
	    
    
 	});       

   function initCommonResponse(returnData) {
	   hideSpinner();
	   $('#mainBody').html( returnData);    	 
   }
   
   function asyncResponseCommonResponse(returnData) {	
	   hideSpinner(); 
	   alert ('AWS Manual Testing finished.');
   }
   
        
</script>
</head>

<body id="Body">

    <div class="mangeuser-page assetdtaIL-page asmble-detaile-pge asemblies-details">
    
   		<form id="dashboardFormDTO" name="dashboardFormDTO"  th:object="${dashboardFormDTO}" >  
        	
            	<input type="hidden" id="assemblyPkid" name="assemblyPkid"  th:value="${dashboardFormDTO.getAssemblyPkid}" >
        	     
            <div class="page-hding">
                <h1>Assembly Details</h1>
                <div class="usrad-btn import-astbtn">
                    <a id="editAssembliesDataId" href="#">Edit Assembly </a>
                    <a href="#" class="imprort-btn">Export Assembly </a>

                </div>
            </div>
        </form>
        
        
        
        <!-- Nav tabs -->
        <div class="custome-tabs">
            <ul class="nav nav-tabs  mt-4" role="tablist">
                <li class="nav-item">
                    <a id="tabAssemblyDetailsId" class="nav-link " data-bs-toggle="tab" href="#">Details </a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyDocumentId" class="nav-link " data-bs-toggle="tab" href="#">Assembly Document</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyBarcodeId" class="nav-link" data-bs-toggle="tab" href="#">Barcode</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyTraceDocumentId" class="nav-link active" data-bs-toggle="tab" href="#"> Traceability Document</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyHistoryId" class="nav-link" data-bs-toggle="tab" href="#">History</a>
                </li>
            </ul>



            <div class="dtatable-card">

              <div class="tab-content">
                    
 			
				<div id="Traceabilitydocument" class="tab-pane active">
                    <div class="tab-subhding procut-tab">
                         <div class="documn-title">
                             <h3>Upload Traceability Documents

                             </h3>
                             <a href="#">Add</a>
                         </div>
                    </div>
                                
					<div class="row">

                       <div class="col-md-12">
                           <div class="aset-detal-bx">



                               <div class="col-lg-12 col-xl-12 p-3 mt-3 borderbx uploadzone">
                                   <div class="importasset-page">
                                       <div class="uploadfile position-relative text-center">
                                           <input type="file">
                                           <img src="./images/export.svg" class="img-fluid" alt="export"
                                               title="">
                                           <h6>Drag &amp; drop files or <span>Browse</span>
                                           </h6>
                                       </div>
                                   </div>
                                   <div
                                       class="usrad-btn import-astbtn sve-btn d-flex justify-content-end mt-4">
                                       <button id="addCancelUpload" class="js-btn-prev contine-btn"
                                           type="button" title="Prev">Cancel</button>
                                       <button id="addContinueUpload" class="js-btn-next contine-btn"
                                           type="button" title="Next">Continue</button>
                                   </div>

                               </div>

                           </div>
                       </div>

                    </div>



<!-- C.Sparks Testing, manual Button for calling AI code  -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="barcdetab document-bx">
                                <div class="documentname-hdingbx">
                                    <div class="document-name-bx">
                                        <span>PDF</span>
                                    </div>
                                    <div class="document-hding">
                                        <h6>MTR_sample_1.pdf<span class="doc-descrip">Sample 1 Test case for MTR processing using AWS Textract.</span></h6>
                                        <span>254 kB</span>
                                    </div>
                                </div>
                                <div class="details-download-btn">
                                    <div class="download-icon">
                                        <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid"
                                            alt="Download" title="Download All">
                                    </div>
                                    <div id="buttonEditMtrId" class="add-details">                                        
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Edit the MTR Attribute data" > 
                                            <span data-bs-toggle="modal" data-bs-target="#add-details">Edit</span>
                                        </a>                                                          
                                    </div>
                                    
                                    <div id="buttonAwsId" class="add-details">                                                                               
                                          <a href="#" data-toggle="tooltip" data-placement="top" title="Click to test the AWS OCR processing." > 
                                              <span data-bs-toggle="modal" data-bs-target="#add-details">Aws</span>
                                          </a>    
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                        
                        
                        
                        
                        <div class="col-md-6">
                            <div class="barcdetab document-bx">
                                <div class="documentname-hdingbx">
                                    <div class="document-name-bx">
                                        <span>XLS</span>
                                    </div>
                                    <div class="document-hding">
                                        <h6>Document 2.pdf<span>254 kB</span></h6>
                                    </div>
                                </div>
                                <div class="details-download-btn">
                                    <div class="download-icon">
                                        <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid"
                                            alt="Download" title="Download All">
                                    </div>
                                    <div class="add-details">

                                        <span data-bs-toggle="modal" data-bs-target="#add-details">add
                                            Details</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="barcdetab document-bx">
                                <div class="documentname-hdingbx">
                                    <div class="document-name-bx">
                                        <span>PDF</span>
                                    </div>
                                    <div class="document-hding">
                                        <h6>Document 3.pdf<span class="doc-descrip">lla ut lorem rutrum
                                                feugiat. Etiam sit amet metus ligula.</span></h6>
                                        <span>254 kB</span>
                                    </div>
                                </div>
                                <div class="details-download-btn">
                                    <div class="download-icon">
                                        <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid"
                                            alt="Download" title="Download All">
                                    </div>
                                    <div class="add-details">

                                        <span data-bs-toggle="modal" data-bs-target="#add-details">Edit
                                            Details</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="barcdetab document-bx">
                                <div class="documentname-hdingbx">
                                    <div class="document-name-bx">
                                        <span>XLS</span>
                                    </div>
                                    <div class="document-hding">
                                        <h6>Document 4.pdf<span>254 kB</span></h6>
                                    </div>
                                </div>
                                <div class="details-download-btn">
                                    <div class="download-icon">
                                        <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid"
                                            alt="Download" title="Download All">
                                    </div>
                                    <div class="add-details">

                                        <span data-bs-toggle="modal" data-bs-target="#add-details">add
                                            Details</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

              </div>
               
         </div>
         
       </div>
                    

     <!-- C.Sparks This is a place holder for the Modal dialog to be created. -->
     <div id="asset_ModalBody"></div>
     
  </div>
  </div>          
        
</body>

</html>