<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Asset Smart Tag</title>

	<script>	
	
	$(document).ready(function() {	

		$('#tabDetailsId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssetDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabHistoryId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssetHistory', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabSmartTagId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssetSmartTag', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabDocumentsId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssetDocuments', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabImagesId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssetImages', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
 		
 	});       

	
   function initCommonResponse(returnData) {	
	   hideSpinner();
	   $('#mainBody').html( returnData);    	 
   }
   
	</script>	
</head>

<body id="Body">


	<div class="mangeuser-page assetdtaIL-page">
	
	 	<form id="uniqueAssetDTO" name="uniqueAssetDTO"  th:object="${uniqueAssetDTO}" >  
 
 	      <input type="hidden" id="uniqueAssetPkId"  name="uniqueAssetPkId" th:value="${uniqueAssetDTO.getUniqueAssetPkId}"> 
 	      <input type="hidden" id="gotoDocumentsTab"  name="gotoDocumentsTab" th:value="${gotoDocumentsTab}"> 
 	      
		  <div class="page-hding">
		      <h1><span class="d-inline" th:text= "${uniqueAssetDTO.getProductTypeDesc()}"></span></h1>
		  </div>
 	   </form>
                
  	   <!-- Nav tabs -->
	  <div class="custome-tabs">
	      <ul class="nav nav-tabs  mt-4" role="tablist">
	          <li class="nav-item">
	              <a id="tabDetailsId" class="nav-link " data-bs-toggle="tab" href="#">Details</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabHistoryId" class="nav-link" data-bs-toggle="tab" href="#">History</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabSmartTagId" class="nav-link active" data-bs-toggle="tab" href="#">Smart Tag</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabDocumentsId" class="nav-link" data-bs-toggle="tab" href="#">Documents</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabImagesId" class="nav-link " data-bs-toggle="tab" href="#">images</a>
	          </li>	
	      </ul>


      	  <div class="dtatable-card ">
      	  
	          <div class="tab-content">	
	                    
	              <div id="smarttag" class="tab-pane active">
	              
	                  <div class="tab-subhding">
	                      <h3>Product QR Code</h3>
	                  </div>
	                  <div class="row">
	                      <div class="col-md-3">
	                          <div class="barcdetab">
	                              <img src="./images/barcode-tab.jpg" class="img-fluid" alt="barcode-tab"  title="">
	                          </div>
	                      </div>
	                  </div>
	              </div>
	              	           
	           </div>
          </div>
      </div>

  </div>
  
<!-- </form> -->

   		<!-- C.Sparks This is a place holder for the Modal dialog to be created. -->
   	    <div id="asset_ModalBody">	
	    </div>
	    
	    
</div>

</body>

</html>