<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Add Assembly </title>

	 
</head>

<body>
              
              <div class="mangeuser-page assetdta-page ad-Assemblies-page"> 
   					 <div class="page-hding">
                   <h1>Add Assembly </h1>
                    
                </div>

     <div class="dtatable-card mt-4">
     
   		<form id="dashboardFormDTO" name="dashboardFormDTO"  th:object="${dashboardFormDTO}" >  
        	
        	<input type="hidden" id="uniqueAssetPkId" name="uniqueAssetPkId" >
      <div class="adduser-form-bx addaset-formbx borderbx">
                        <!-- <h5 class="adaset-hding">Create Assembly  Details</h5> -->


                        <div class="row">
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label>Job Number</label>

                                </div>

                            </div>

                            <div class="col-lg-9 col-xl-10 colum-bx">
                                <div class="tble-serch ">
                                    <input type="password" placeholder="Enter Job Number"
                                        title="Enter Job Number" class="form-control">
                                </div>


                            </div>
                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label> Description </label>

                                </div>

                            </div>

                            <div class="col-lg-9 col-xl-10 colum-bx">
                                <div class="tble-serch ">
                                    <input type="password" placeholder="Enter Description"
                                        title=" Enter Description" class="form-control">
                                </div>

                            </div>

                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label>Customer Job Number</label>
                                </div>

                            </div>

                            <div class="col-lg-9 col-xl-10 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Customer Job Number"
                                        title="Customer Job Number" class="form-control">
                                </div>

                            </div>

                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label>Station Number</label>

                                </div>

                            </div>

                            <div class="col-lg-9 col-xl-10 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Station Number" title="Station Number"
                                        class="form-control">
                                </div>

                            </div>

                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label>Customer </label>

                                </div>

                            </div>

                            <div class="col-lg-9 col-xl-10 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Enter Customer" title=" Customer"
                                        class="form-control">
                                </div>

                            </div>

                            <div class="col-lg-3 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label>Location </label>

                                </div>

                            </div>

                            <div class="col-lg-9 col-xl-10 colum-bx">
                                <div class="tble-serch ">
                                    <input type="text" placeholder="Trace Location" title="Trace Location"
                                        class="form-control">
                                </div>

                            </div>


                            <div class="usrad-btn import-astbtn sve-btn justify-content-end">
                                <a href="Assemblies-data.html">Save </a>
                                <!-- <a href="Assemblies-data.html" class="imprort-btn">Publish </a> -->
                            </div>


                        </div>
                    </div>
				      
    </form> 
                    
   </div>
   </div> 
   	  
</body>

</html>