<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Asset Detail</title>

	<script>	
	
	    var isDuplicateFileupload = false;
		//var stepper1 = null;		
		Dropzone.autoDiscover = false;		
		var traceDropzoneId = $('#tracedropzone').dropzone({
			
		   headers:{   'X-CSRFToken' : '{{ csrf_token }}' },				
		   acceptedFiles: '.pdf, application/pdf',			 			 		
		   maxThumbnailFilesize: '20',
		   dictInvalidFileType: "Incorrect File type, please upload only .PDF files",			   
	    
		   init: function() {
		     this.on("addedfile", 
		    	function(file) {	    	
		      });
		     
		     this.on("success", 
		    	function(file,response) {
		    	  $(".dz-success-mark svg").css("background", "green");
		    	  $(".dz-error-mark").css("display", "none");	 		    	 	 		    	  
		    	  //document.getElementById("continueUpload").disabled = false;	
		    	  
		    	  // Error Check - Duplicate Filename
		    	  if (response.error != "0" ) {		    		  
		    		 isDuplicateFileupload = true;		    		  
		    	     $('#errorMessageId').show();	
		    	     $('#errorMessageId').text(response.errorMessage);				    	      
		    	  	 //document.getElementById("continueUpload").disabled = true;
		    	     this.removeFile(file);
		    	     // display red error for 5 seconds, then remove the error message
		    	     setTimeout(function() { $("#errorMessageId").hide(); }, 5000);
		    	  }
		    	  
		      }); 		     		  
		
	     	this.on("error", 
		    	function(file) {
	     		  $(".dz-error-mark svg").css("background", "red");
	     		  $(".dz-success-mark").css("display", "none");	 	     		  	 	     		 
		      }); 		
	     	
	     	this.on("removedfile", 
	     		function(file) {
	     		
				if (isDuplicateFileupload === true) {
				    isDuplicateFileupload = false;
				} else {
	         		var myData = {version:"1.0", protocol:"json", clientId:"trace"};
	               	var innerData = {};
	        		innerData["removeFileName"] = file.name;
            		innerData["deleteAllFilesWithPk"] =	"NO";
                  	innerData["uniqueAssetPkId"] = $('input#uniqueAssetPkId').val();
	        		myData["data"] = innerData;
	        		
	        		submitFormAjaxJSON("deleteFileUpload", myData, "generalResponse");
	        		//if (this.files[0] == null) {
	 		   		//	document.getElementById("continueUpload").disabled = true;
	 		   		//}
				}
				
	     	});		   
		  }
			
		}); 
		
		
		$(document).ready(function() {	

			$('#tabDetailsId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#tabHistoryId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetHistory', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#tabSmartTagId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetSmartTag', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#tabDocumentsId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetDocuments', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#tabImagesId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetImages', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
			
			
			// Added for Dropzone
			window.addEventListener("dragover",function(e){
				  e = e || event;
				  e.preventDefault();
				},false);
			window.addEventListener("drop",function(e){
			  e = e || event;
			  e.preventDefault();
			},false);
			//document.getElementById("continueUpload").disabled = true;	
			
			$('#errorMessageId').hide();
		   	$("#attachmentUploadId").hide();	
			
		   	
		   	// C.Sparks 1-24-2024  Navigate back to the previous tab that was open
		   	gotoDocumentsTab = $('#gotoDocumentsTab').val();
		    if (gotoDocumentsTab === 'yes') {
		    	  document.getElementById("documentsTabId").click();
		    }
		   	
		   	$('#gotoDocumentsTab').val();
			
			// Add Attachments - Drop Zone Stuff
	    	$('#addAttachmentId').click(function() {		    		
	    		// Set the pkId on the 2nd form object, that is used by Dropzone for uploading
	    		pkId = $('input#uniqueAssetPkId').val();
	    		$("#tracedropzone input[name=uniqueAssetPkId]").val(pkId);    		    		
			   	$("#attachmentUploadId").show();	
	    	});   
			
			
	    	$('#addCancelUpload').click(function() {	
	    		
	    		// clear files from the UI
	    		traceDropzoneId[0].dropzone.removeAllFiles();
	    		    		
	    		$("#attachmentUploadId").hide();
	    		
	     		var myData = {version:"1.0", protocol:"json", clientId:"trace"};
	           	var innerData = {};
	    		innerData["uniqueAssetPkId"] =	pkId = $('input#uniqueAssetPkId').val();
	    		innerData["deleteAllFilesWithPk"] =	"YES";
	    		myData["data"] = innerData;
	    		submitFormAjaxJSON("deleteFileUpload", myData, "generalResponse");

	    	});   
	    	
	    	
	    	$('#addContinueUpload').click(function() {		    		
	    		showSpinner();	
	    		
	    		uniqueAssetPkId = $('#uniqueAssetPkId').val();
	    		//console.log ("uniqueAssetPkId ->: " + uniqueAssetPkId);
	    		
	   			submitFormAjaxHTML('saveAttachmentsFromStagingToStorage', $("#uniqueAssetDTO").serialize(), "initCommonResponse");					
				hideSpinner();
				$("#attachmentUploadId").hide();
	    	}); 
	    	
	 		// Browse Files BUTTON on the Dropzone Box
		    $(".dz-message").html('<button type="button" class="button button--secondary mb-4" style="min-width: 20rem;">Click to browse files</button><p>Each file must be less than 20MB and a ".xls,.xlsx" file.</p>');		    		    				    
			 			 	
	 	});       
   
		
	   function initCommonResponse(returnData) {	
		   hideSpinner();
		   $('#mainBody').html( returnData);    	 
	   }
	   
	   function modalResponse(returnData) {	
	  		hideSpinner();			 		
	  		$('#asset_ModalBody').html(returnData); 	 		 		 		
	  }   
	  
	
/* 		$('#history-table').DataTable({
	      responsive: true,
	      searching: false,
	      bLengthChange : false
	   }); */
	   
		$('a[data-bs-toggle="tab"]').on('resize, shown.bs.tab', function(e){
		   $($.fn.dataTable.tables(true)).DataTable()
		      .columns.adjust()
		      .responsive.recalc();
		});
		

   
	</script>	
</head>

<body id="Body">

	<div class="mangeuser-page assetdtaIL-page">
	
	 	<form id="uniqueAssetDTO" name="uniqueAssetDTO"  th:object="${uniqueAssetDTO}" >  
 
 	      <input type="hidden" id="uniqueAssetPkId"  name="uniqueAssetPkId" th:value="${uniqueAssetDTO.getUniqueAssetPkId}"> 
 	      <input type="hidden" id="gotoDocumentsTab"  name="gotoDocumentsTab" th:value="${gotoDocumentsTab}"> 
 	      
		  <div class="page-hding">
		      <h1><span class="d-inline" th:text= "${uniqueAssetDTO.getProductTypeDesc()}"></span></h1>
		  </div>
 	   </form>
                
  	   <!-- Nav tabs -->
	  <div class="custome-tabs">
	      <ul class="nav nav-tabs  mt-4" role="tablist">
	          <li class="nav-item">
	              <a id="tabDetailsId" class="nav-link " data-bs-toggle="tab" href="#">Details</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabHistoryId" class="nav-link" data-bs-toggle="tab" href="#">History</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabSmartTagId" class="nav-link " data-bs-toggle="tab" href="#">Smart Tag</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabDocumentsId" class="nav-link active" data-bs-toggle="tab" href="#">Documents</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabImagesId" class="nav-link " data-bs-toggle="tab" href="#">images</a>
	          </li>	
	      </ul>


      <div class="dtatable-card ">

          <div class="tab-content">
          
 
              <div id="documents" class="tab-pane active">
              
                  <div class="tab-subhding procut-tab">
                  	<div class="documn-title">
                  		<h3>Uploaded Product Documents</h3>
                  		<a id="addAttachmentId" href="#">Add</a>	
                  	</div>
                    <div class="download-link">
                       <a href="#" download> 
                          <img src="./images/downlaod-icon-primary.svg" class="img-fluid" alt="Download" title="Download All">Download all Documents
                       </a>  
                    </div>                     
                  </div>
                  
                                                
                  <!-- 1-18-2024  C.Sparks added show hide code when the add document is clicked  -->
			      <div id="attachmentUploadId" class="adduser-form-bx addaset-formbx borderbx add-document">
	                                                            
					<!-- C.Sparks  this container has some needed css for positioning -->
					<div class="multisteps-form__form">
	
	             		 <div class="multisteps-form__panel js-active" data-animation="slideHorz">
	
		                     <div class="multisteps-form__content">
		                         <div class="row">
		                             
		                             <div class="col-lg-12 col-xl-12 colum-bx">
		                                 <div class="tble-serch uplod-inputbx">
		                                     <select class="form-select">
		                                         <option>Select Attachment Doc Type</option>
		                                         <option>Document Type 1</option>
		                                         <option>Document Type 2</option>
		                                         <option>Document Type 3</option>	
		                                     </select>
		                                 </div>
		                             </div>
		                             
									 <div class="col-lg-12 col-xl-12 colum-bx">
		                            	   
		                                 <div class="uploadfile position-relative text-center uploadbrowserfile">
		                                 
							  				<form id="tracedropzone" name="tracedropzone"	th:object="${dashboardFormDTO}" 						
												action="/portal/processAttachmentUpload" class="dropzone dz-clickable" enctype="multipart/form-data" method="POST">								
												
												<!-- CSRF token -->
												<input type="hidden" th:name="${_csrf.parameterName}"   th:value="${_csrf.token}"/>									
												<input type="hidden" id="uniqueAssetPkId" name="uniqueAssetPkId"  />
																	
												<div class="dz-default dz-message">
													<span>Files must be less than 20MB and a '.Pdf' file</span>
												</div>
												
											    <div id="errorMessageId"  style="display:none;color:red">
				       								<span>Error Msg</span>
				       							</div>
				       						       			
											</form>
		
		                             	  </div>	
		                              </div>
			
		                         </div>
		                         
		                     <div class="row mt-4">
		                           <div class="col-lg-12 col-xl-12">
		                             <div class="usrad-btn import-astbtn sve-btn d-flex justify-content-end">
		                                 <button id="addCancelUpload" class="js-btn-prev contine-btn" type="button" title="Prev">Cancel</button>
		                                 <button id="addContinueUpload" class="js-btn-next contine-btn" type="button" title="Next">Continue</button>
		                             </div>
		                         </div>
		                     </div>
		                	 </div>
	                     </div>
					</div>                                
	
	              </div>                  
                     



                  <!-- Loop and get all the document -->
                  <div class="row">
                      <div class="col-md-6">
                          <div class="barcdetab document-bx">
                              <div class="documentname-hdingbx">
                                  <div class="document-name-bx">
                                      <span>PDF</span>
                                  </div>
                                  <div class="document-hding">
                                      <h6>Document 1.pdf<span>254 kB</span></h6>
                                  </div>
                              </div>
                              <div class="download-icon">
                                  <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid"
                                      alt="Download" title="Download All">
                              </div>

                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="barcdetab document-bx">
                              <div class="documentname-hdingbx">
                                  <div class="document-name-bx">
                                      <span>XLS</span>
                                  </div>
                                  <div class="document-hding">
                                      <h6>Document 2.pdf<span>254 kB</span></h6>
                                  </div>
                              </div>
                              <div class="download-icon">
                                  <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid"
                                      alt="Download" title="Download All">
                              </div>

                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="barcdetab document-bx">
                              <div class="documentname-hdingbx">
                                  <div class="document-name-bx">
                                      <span>DOCX</span>
                                  </div>
                                  <div class="document-hding">
                                      <h6>Document 3.pdf<span>254 kB</span></h6>
                                  </div>
                              </div>
                              <div class="download-icon">
                                  <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid"
                                      alt="Download" title="Download All">
                              </div>

                          </div>
                      </div>
                      
                      <div class="col-md-6">
                          <div class="barcdetab document-bx">
                              <div class="documentname-hdingbx">
                                  <div class="document-name-bx">
                                      <span>PDF</span>
                                  </div>
                                  <div class="document-hding">
                                      <h6>Document 4.pdf<span>254 kB</span></h6>
                                  </div>
                              </div>
                              <div class="download-icon">
                                  <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid"
                                      alt="Download" title="Download All">
                              </div>

                          </div>
                      </div>
                      
                      <div class="col-md-6">
                          <div class="barcdetab document-bx">
                              <div class="documentname-hdingbx">
                                  <div class="document-name-bx">
                                      <span>Word</span>
                                  </div>
                                  <div class="document-hding">
                                      <h6>Document 5.doc<span>714 kB</span></h6>
                                  </div>
                              </div>
                              <div class="download-icon">
                                  <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid"
                                      alt="Download" title="Download All">
                              </div>

                          </div>
                      </div>
                      
                      

                  </div>
              </div>
                                         
          </div>
          
      </div>

  </div>

  	<!-- C.Sparks This is a place holder for the Modal dialog to be created. -->
    <div id="asset_ModalBody">	
    </div>
	    
	    
</div>

</body>

</html>