<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Assemblies Details</title>
    
    <script>
    $(document).ready(function() {	
		
		$('#tabAssemblyDetailsId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
    	
		$('#tabAssemblyDocumentId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyDocument', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyBarcodeId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyBarcode', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyTraceDocumentId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyTraceDocument', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyHistoryId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyHistory', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
	    $('#editAssembliesDataId').click(function() {
			showSpinner();
			submitFormAjaxHTML('editAssemblyData', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		}); 
	
	    
	   	// C.Sparks 6-10-2024  Navigate back to the DOCUMENTS tab that was open
	   	// when the upload doc process ran.
	   	gotoDocumentsTab = $('#gotoDocumentsTab').val();
	    if (gotoDocumentsTab === 'yes') {
	    	  document.getElementById("tabAssemblyDocumentId").click();
	    }
	   	
	   	$('#gotoDocumentsTab').val();
		
 	});       

   function initCommonResponse(returnData) {	
	   hideSpinner();
	   $('#mainBody').html( returnData);    	 
   }
        
    </script>
</head>

<body id="Body">

    <div class="mangeuser-page assetdtaIL-page asmble-detaile-pge asemblies-details">
    
   		<form id="dashboardFormDTO" name="dashboardFormDTO"  th:object="${dashboardFormDTO}" >  
        	
        	<input type="hidden" id="assemblyPkid" name="assemblyPkid"  th:value="${dashboardFormDTO.getAssemblyPkid}" >
        	<input type="hidden" id="gotoDocumentsTab"  name="gotoDocumentsTab" th:value="${gotoDocumentsTab}"> 
 	       	    
            <div class="page-hding">
                <h1>Assembly Details</h1>
                <div class="usrad-btn import-astbtn">
                    <a id="editAssembliesDataId" href="#">Edit Assembly </a>
                    <a href="#" class="imprort-btn">Export Assembly </a>

                </div>
            </div>
        </form>



        <!-- Nav tabs -->
        <div class="custome-tabs">
            <ul class="nav nav-tabs  mt-4" role="tablist">
                <li class="nav-item">
                    <a id="tabAssemblyDetailsId" class="nav-link active" data-bs-toggle="tab" href="#">Details </a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyDocumentId" class="nav-link" data-bs-toggle="tab" href="#">Assembly Document</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyBarcodeId" class="nav-link" data-bs-toggle="tab" href="#">Barcode</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyTraceDocumentId" class="nav-link" data-bs-toggle="tab" href="#"> Traceability Document</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyHistoryId" class="nav-link" data-bs-toggle="tab" href="#">History</a>
                </li>
            </ul>



            <div class="dtatable-card" >

                <div class="tab-content">
                    
 				<div id="details" class="tab-pane active">
                    <div class="row">
                        <div class="col-md-3 mb-4">
                            <div class="aset-sidebar-bx">
                                <ul class="list-unstyled asset-side-nav">
                                    <li><a href="#" class="active">General</a></li>
                             <!--        <li><a href="#">Unique ID</a></li> -->
                                    <li><a href="#">Traceability Data</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                            
                            
                                <div class="col-md-12">
                                    <div class="aset-detal-bx">
                                                                        
                                       <div class="aset-detal-bx">
                                        <div class="borderbx">
                                            <div class="bx-hding">
                                                <h4>General</h4>
                                            </div>


                                            <div class="row mt-4 pd-bx">
                                                <div class="col-md-12 col-lg-8 mb-3">
                                                    <div class="asset-details">
                                                        <table class="table table-striped" >

                                                            <tbody>
                                                                <tr>
                                                                    <th class="t-hding">Id</th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription" th:text="${assemblyDto.getAssemblyPkid}"></td>
                                                                </tr>
                                                                
                                                                 <tr>
                                                                    <th class="t-hding"> Station Number</th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription" th:text="${assemblyDto.getStationNumber}"></td>
                                                                </tr>
                                                                
                                                                 <tr>
                                                                    <th class="t-hding"> Description </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription" th:text="${assemblyDto.getJobDescription}"></td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <th class="t-hding">Job Number</th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription" th:text="${assemblyDto.getJobNumber}"></td>
                                                                </tr>
   
                                                                <tr>
                                                                    <th class="t-hding">Location
                                                                    </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription" th:text="${assemblyDto.getLocation}"> </td>
                                                                </tr>
                            
                                                                <tr>
                                                                    <th class="t-hding">Customer
                                                                    </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">Lorem Ipsum </td>
                                                                </tr>
                                                                
                                                                 <tr>
                                                                    <th class="t-hding">Customer Job Number </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">78965412</td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <th class="t-hding">Fabricator </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">Lorem Ipsum  </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-4 mb-3">
                                                    <div class="asset-img borderbx">
                                                        <img src="./images/product-img.jpg"
                                                            alt="product-img" class="img-fluid"
                                                            title="3Phase Distribution Transformer">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    </div>
                                </div>
                                
                                
                                
     <!--  The Assembly is not tied to an asset at this time -->                           
                                
<!--                                 <div class="col-md-12 mt-4">
                                    <div class="aset-detal-bx">
                                        <div class="borderbx">
                                            <div class="bx-hding">
                                                <h4>Unique ID</h4>
                                            </div>


                                            <div class="row mt-4 pd-bx">
                                                <div class="col-md-12">
                                                    <div class="asset-details">
                                                        <table class="table table-striped">

                                                            <tbody>
                                                                <tr>
                                                                    <th class="t-hding">Id</th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">1</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="t-hding">Unique Asset ID</th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">x1.x2</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="t-hding">Manufacturer </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">South Wire
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="t-hding">Product Type </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">Cable</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="t-hding"> Trace Number </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">Serial</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="t-hding"> Customers </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">Black Hills
                                                                        Energy
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="t-hding"> P Type Description
                                                                    </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">South Wire
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div> -->
                                
                                

                                
                                <div class="col-md-12 mt-4">
                                    <div class="aset-detal-bx">
                                        <div class="borderbx">
                                            <div class="bx-hding">
                                                <h4>Traceability Data</h4>
                                            </div>


                                            <div class="row mt-4 pd-bx">
                                                <div class="col-md-12">
                                                    <div class="asset-details">
                                                        <table class="table table-striped">

                                                            <tbody>
                                                                <tr>
                                                                    <th class="t-hding">Id</th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">1</td>
                                                                </tr>
             
                                                                <tr>
                                                                    <th class="t-hding"> Trace Type </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">Heat</td>
                                                                </tr>
                                                                                                                                
                                                                 <tr>
                                                                    <th class="t-hding"> Trace Number </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription" th:text="${assemblyDto.getTraceNumber}"></td> 
                                                                </tr> 
                                                                
                                                                <tr>
                                                                    <th class="t-hding"> Serial Number </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription">S12345</td>
                                                                </tr>
                                                                <tr>
                                                                    <th class="t-hding">Description
                                                                    </th>
                                                                    <td class="t-dot">:</td>
                                                                    <td class="t-discription"> </td>
                                                                </tr>
                           

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                            
                            
                            
  		</div>  <!-- end tabs links -->                          
                            
                            
                            
         


        <!-- C.Sparks This is a place holder for the Modal dialog to be created. -->
        <div id="assembly_ModalBody"></div>

            
            <!-- Button trigger modal -->

<!--     <div class="add-detailsmodal">
        Modal
        <div class="modal fade" id="add-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 inputbx">
                              <label class="form-label">Traceability Document Details</label>
                            <textarea class="form-control" placeholder="Enter Details"></textarea>

                        </div>
                        <div class="usrad-btn import-astbtn sve-btn d-flex justify-content-end mt-4">
                            <button id="addCancelUpload" class="js-btn-prev contine-btn" type="button" title="Prev">Cancel</button>
                            <button id="addContinueUpload" class="js-btn-next contine-btn"  data-bs-dismiss="modal" aria-label="Close">Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div> -->
            
  </div>          
 </div>          
</body>

</html>