<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Assembly Document</title>
    <style>
    	.h7{ font-size: .75rem; }
  		.h8{ font-size: .50rem; }
    </style>
    <script>
        
	    var isDuplicateFileupload = false;
	
		Dropzone.autoDiscover = false;	
		
		var traceDropzoneId = $('#tracedropzone').dropzone({
			
		   headers:{   'X-CSRFToken' : '{{ csrf_token }}' },				
		   acceptedFiles: '.pdf, application/pdf',			 			 		
		   maxThumbnailFilesize: '20',
		   dictInvalidFileType: "Incorrect File type, please upload only .PDF files",			   
	    
		   init: function() {
		     this.on("addedfile", 
		    	function(file) {	    	
		      });
		     
		   this.on("success", 
		    	function(file,response) {
			   
		    	  $(".dz-success-mark svg").css("background", "green");
		    	  $(".dz-error-mark").css("display", "none");	 		    	 	 		    	  
		    	  //document.getElementById("continueUpload").disabled = false;	
		    	  
		    	  // Error Check - Duplicate Filename
		    	  if (response.error != "0" ) {		    		  
		    		 isDuplicateFileupload = true;		    		  
		    	     $('#errorMessageId').show();	
		    	     $('#errorMessageId').text(response.errorMessage);				    	      
		    	  	 //document.getElementById("continueUpload").disabled = true;
		    	     this.removeFile(file);
		    	     // display red error for 5 seconds, then remove the error message
		    	     setTimeout(function() { $("#errorMessageId").hide(); }, 5000);
		    	  }
		    	  
		    }); 		     		  
		
	     	this.on("error", 
		    	function(file) {
	     		  $(".dz-error-mark svg").css("background", "red");
	     		  $(".dz-success-mark").css("display", "none");	 	     		  	 	     		 
		      }); 		
	     	
	     	this.on("removedfile", 
	     		function(file) {
	     		
				if (isDuplicateFileupload === true) {
				    isDuplicateFileupload = false;
				} else {
	         		var myData = {version:"1.0", protocol:"json", clientId:"trace"};
	               	var innerData = {};
	        		innerData["removeFileName"] = file.name;
	        		innerData["deleteAllFilesWithPk"] =	"NO";
	              	innerData["assemblyPkid"] = $('input#assemblyPkid').val();
	        		myData["data"] = innerData;
	        		
	        		submitFormAjaxJSON("deleteAsseblyFileUpload", myData, "generalResponse");
	        		//if (this.files[0] == null) {
	 		   		//	document.getElementById("continueUpload").disabled = true;
	 		   		//}
				}
				
	     	});		   
		  }
			
		});
    
    
    
    

    $(document).ready(function() {	
		    	
		$('#tabAssemblyDetailsId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
    	
		$('#tabAssemblyDocumentId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyDocument', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyBarcodeId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyBarcode', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyTraceDocumentId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyTraceDocument', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
		$('#tabAssemblyHistoryId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initAssemblyHistory', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});
		
	    $('#editAssembliesDataId').click(function() {
			showSpinner();
			submitFormAjaxHTML('editAssemblyData', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		}); 
	    
	    
	    

	    
		// Added for Dropzone
		window.addEventListener("dragover",function(e){
			  e = e || event;
			  e.preventDefault();
			},false);
		window.addEventListener("drop",function(e){
		  e = e || event;
		  e.preventDefault();
		},false);
		//document.getElementById("continueUpload").disabled = true;	
		
		$('#errorMessageId').hide();
	   	$("#assemblyUploadId").hide();	
	   	
	
		// Add Attachments Button Clicked - Drop Zone Stuff
    	$('#uploadDocname').click(function() {	
    		
    		if ($('#uploadDocname').text().includes("Select Doc")  ) {
    			alert ("Click on a Document Type from the left side list of documents, then you can add");
    		} else {	
    		
	    		// Set the pkId on the 2nd form object, that is used by Dropzone for uploading
	    		pkId = $('input#assemblyPkid').val();
	    		$("#tracedropzone input[name=assemblyPkid]").val(pkId);    
	    		
	    		// 6-10-2024
	    		assemblyDocTypePkId = $('input#assemblyDocTypePkId').val();
	    		$("#tracedropzone input[name=docTypePkId]").val(assemblyDocTypePkId);  
	    		
	    		
			   	$("#assemblyUploadId").show();	
    		}
    	});   
    
	   		
		// Add Attachments - Drop Zone Stuff
    	$('#addAssemblyId').click(function() {	
    			    		    		
    		// Set the pkId on the 2nd form object, that is used by Dropzone for uploading
    		pkId = $('input#assemblyPkid').val();
    		$("#tracedropzone input[name=assemblyPkid]").val(pkId);  
    		
    		// 6-10-2024
    		assemblyDocTypePkId = $('input#assemblyDocTypePkId').val();
    		$("#tracedropzone input[name=docTypePkId]").val(assemblyDocTypePkId);  
    		
		   	$("#assemblyUploadId").show();
    		
    	});   
		
		
    	$('#addCancelUpload').click(function() {	
    		
    		// clear files from the UI
    		traceDropzoneId[0].dropzone.removeAllFiles();
    		    		
    		$("#assemblyUploadId").hide();
    		
     		var myData = {version:"1.0", protocol:"json", clientId:"trace"};
           	var innerData = {};
    		innerData["assemblyPkid"] =	pkId = $('input#assemblyPkid').val();
    		innerData["deleteAllFilesWithPk"] =	"YES";
    		myData["data"] = innerData;
    		submitFormAjaxJSON("deleteAsseblyFileUpload", myData, "generalResponse");

    	});   
    	
    	
    	$('#addContinueUpload').click(function() {		    		
    		showSpinner();	
    		
    		assemblyPkid = $('#assemblyPkid').val();
    		//console.log ("uniqueAssetPkId ->: " + uniqueAssetPkId);
    		
   			submitFormAjaxHTML('saveAssemblyAttachmentsFromStagingToStorage', $("#dashboardFormDTO").serialize(), "initCommonResponse");					
			hideSpinner();
			$("#assemblyUploadId").hide();
    	}); 
    	
 		// Browse Files BUTTON on the Dropzone Box
	   // $(".dz-message").html('<button type="button" class="button button--secondary mb-4" style="min-width: 20rem;">Click to browse files</button><p>Each file must be less than 20MB and a ".xls,.xlsx" file.</p>');		    		    				    
		 		
 		


	
	   	

	    // CS 2-21-2024  Determine which Doc in the left nav was clicked
		$("[id^='ardpkid_']").bind( "click", function(event) {			
			event.preventDefault();
			  
			var tokens = ($(this).attr("id")).split("_");
			ardPkId = tokens[1];	
			
			
			//  6-10-2024 add it to the trace form
    		$("#tracedropzone input[name=ardPkId]").val(ardPkId);
    		$('input#ardPkId').val(ardPkId);
    		
    		
			// 6-10-2024 add it to the trace form
			assemblyDocTypePkId = tokens[2];	
    		$("#tracedropzone input[name=docTypePkId]").val(assemblyDocTypePkId);
    		$('input#assemblyDocTypePkId').val(assemblyDocTypePkId);
						
						
			
			// Put the clicked document name in the upload description
			$('#uploadDocname').text(this.text);	
			$('#uploadDocname').append( "<span id='docAddId'>Add</span>");
				
			//  Highlight the document clicked {remove hightlight from the list first}
	        var clickedItem = $( this );				        
	        $('[id^=ardpkid_]').each(function() {
	            $( this ).removeClass( "active" );
	            
	             $(this).find("i").removeClass( "fa-circle-check" );
	            		
	        });
	        clickedItem.addClass( "active" );
	        clickedItem.find("i").addClass( "fa-circle-check" );
	        
	        // Add in the Check Box
	        // <i class="fa-regular"></i>
	        // <i class="fa-regular fa-circle-check"></i>
	        
	        // TODO  5-28-2024  
	        //  the above code adds the green check box to the clicked item.
	        // once upload is coded, the green check box should be on when a succesful upload has happened for that doc type
	        
		});	

	    
 	});       

   function initCommonResponse(returnData) {	
	   hideSpinner();
	   $('#mainBody').html( returnData);    	 
   }
   
   function modalResponse(returnData) {	
 		hideSpinner();			 		
 		$('#asset_ModalBody').html(returnData); 	 		 		 		
   }   
   
	$('a[data-bs-toggle="tab"]').on('resize, shown.bs.tab', function(e){
		   $($.fn.dataTable.tables(true)).DataTable()
		      .columns.adjust()
		      .responsive.recalc();
		});
	
	
    </script>
</head>

<body id="Body">

    <div class="mangeuser-page assetdtaIL-page asmble-detaile-pge asemblies-details">
    
   		<form id="dashboardFormDTO" name="dashboardFormDTO"  th:object="${dashboardFormDTO}" >  
        	
        	<input type="hidden" id="assemblyPkid" name="assemblyPkid"  th:value="${dashboardFormDTO.getAssemblyPkid}" >
        	<input type="hidden" id="ardPkId" name="ardPkId"   th:value="${dashboardFormDTO.getArdPkId}" >
         	<input type="hidden" id="assemblyDocTypePkId" name="assemblyDocTypePkId"   th:value="${dashboardFormDTO.getAssemblyDocTypePkId}" >
        	<input type="hidden" id="gotoDocumentsTab"  name="gotoDocumentsTab" th:value="${gotoDocumentsTab}"> 
        	 
            <div class="page-hding">
                <h1>Assembly Details</h1>
                <div class="usrad-btn import-astbtn">
                    <a id="editAssembliesDataId" href="#">Edit Assembly </a>
                    <a href="#" class="imprort-btn">Export Assembly </a>

                </div>
            </div>
        </form>



        <!-- Nav tabs -->
        <div class="custome-tabs">
            <ul class="nav nav-tabs  mt-4" role="tablist">
                <li class="nav-item">
                    <a id="tabAssemblyDetailsId" class="nav-link " data-bs-toggle="tab" href="#">Details </a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyDocumentId" class="nav-link active" data-bs-toggle="tab" href="#">Assembly Document</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyBarcodeId" class="nav-link" data-bs-toggle="tab" href="#">Barcode</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyTraceDocumentId" class="nav-link" data-bs-toggle="tab" href="#"> Traceability Document</a>
                </li>
                <li class="nav-item">
                    <a id="tabAssemblyHistoryId" class="nav-link" data-bs-toggle="tab" href="#">History</a>
                </li>
            </ul>


            <div class="dtatable-card">

                <div class="tab-content">
                    				
                   <div id="Assembliesdocuments" class="tab-pane active">
                        <div class="tab-subhding procut-tab">
                            <h3>Upload Assemblies Documents
                                <a href="#" download> <img src="./images/downlaod-icon-primary.svg"
                                        class="img-fluid" alt="Download" title="Download All"> Download all Documents</a>
                            </h3>
                            
                            <p class="warning-msg"><span>* </span> marked fields are mandatory</p>
                        </div>
                                
                        <div class="row">
                        
                            <div class="col-md-4 mb-4">                            
                                <div class="aset-sidebar-bx">                                
                                    <ul id="doclistid" class="list-unstyled asset-side-nav">
                                                                                                            
									    <th:block th:each="assemblyReqDoc, iStat  : ${assemblyReqDocList} ">                                                               
									          <li>
									          	<a th:id="'ardpkid_' + ${assemblyReqDoc.getArdPkid()} + '_' +  ${assemblyReqDoc.getDocTypePkid()} " href="#" class="doc-sucess" >
									          		<span th:text="${assemblyReqDoc.getDocDescription()}"></span>          		
									          		<span th:if="${assemblyReqDoc.getDocTypePkid() == 60} ">*</span>
									         		 <i class="fa-regular"></i>
									          	</a>          
									          </li>    
									     </th:block> 
									                                                                                
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="aset-detal-bx">

                                            <div class="borderbx ">
                                                <div class="bx-hding"  >                                  
                                                    <h4 id="uploadDocname" >{Select Doc Type on left to upload}
                                                    <span id="docAddId" >Add</span> </h4>                                                                                            
                                                </div>
                                                
                                                
                                                
          <div id="assemblyUploadId"  class="col-lg-12 col-xl-12 p-3 mt-3 ">
              <div class="importasset-page">
                  <div class="uploadfile position-relative text-center">
                                       
						<form id="tracedropzone" name="tracedropzone"	th:object="${dashboardFormDTO}" action="/portal/processAssemblyReqDocUpload"					
							 class="dropzone dz-clickable"  enctype="multipart/form-data" method="POST">								
							
							<!-- CSRF token -->
							<input type="hidden" th:name="${_csrf.parameterName}"   th:value="${_csrf.token}"/>									
							<input type="hidden" id="assemblyPkid" name="assemblyPkid"  />									
							<input type="hidden" id="assemblyDocTypePkId" name="assemblyDocTypePkId"  />
							<input type="hidden" id="ardPkId" name="ardPkId"  />							
										
				                      		
							<div class="dz-default dz-message">
								<img src="./images/export.svg" class="img-fluid" alt="export" title="">
				           		 <h6><a href="#"> Drag &amp; drop files or Click to Browse</a></h6>
								<span>Files must be less than 20MB and a '.Pdf' file</span>
							</div>
							
						    <div id="errorMessageId"  style="display:none;color:red">
						         <span>Error Msg</span>
				   		    </div>												       			
						</form>                     
                                                                  
                  </div>
              </div>
              
              <div class="usrad-btn import-astbtn sve-btn d-flex justify-content-end mt-4">
                  <button id="addCancelUpload"    class="js-btn-prev contine-btn" type="button"   title="Prev">Cancel</button>
                  <button id="addContinueUpload"  class="js-btn-next contine-btn" type="button"  title="Next">Continue</button>
              </div>

          </div>
                                                
                                                
                                                


                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-4">
                                
        <!-- start loop -->       
        <!-- This needs to be a DTOso more dat can be displayed, like doc type desc -->
      <th:block th:each="assemblyAttachmentDTO, iStat  : ${assemblyAttachmentDTOList} ">
      
         <div class="col-md-6">
              <div class="barcdetab document-bx">
                  <div class="documentname-hdingbx">
                      <div class="document-name-bx">
                          <span>PDF</span>
                      </div>
                      <div class="document-hding">
                          <h6 style="white-space:nowrap" th:text="${assemblyAttachmentDTO.getAssemblyReqDocDesc()}">></h6>
                          <h6 style="font-size:.80rem;" th:text="${assemblyAttachmentDTO.getFilenameFullpath()}"></h6>
                          <h6 style="font-size:.70rem;" >Heat:123, Serial:789</h6>
                      </div>
                  </div>
                  <div class="download-icon">
                      <img src="./images/downlaod-icon-whitesvg.svg" class="img-fluid" alt="Download" title="Download Doc">
                  </div>

              </div>
          </div>
       </th:block>  
                                  
                                                                  

                                </div>
                            </div>

                        </div>



                            </div>                                                       
             </div>
       </div>               
                       

    <!-- C.Sparks This is a place holder for the Modal dialog to be created. -->
    <div id="asset_ModalBody"></div>
    
	</div>
	</div>
        
            
</body>

</html>