<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Upload Add Data</title>

	<script>	
	
		var globalTable;	
	
		$(document).ready(function() {	
			
	        $('#assemble-data').DataTable({
	            responsive: true,
	        });
	        
			$('#addAssembliesDataId').click(function() {
				showSpinner();
				submitFormAjaxHTML('addAssembliesData', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
		
/* 			$('#addAssembliesDetailId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssemblyDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			}); */
			
			
			
			if( $('#assemblyDataTable').length){     			
     			var table = $('#assemblyDataTable').DataTable( {
					 	responsive: true,
            	//retrieve: true,
     	 	//	searchHighlight: true,
     	       //      	responsive: true,	10-25-2023  this has to be off, since we are using position 0 to expand for the details data             	 			        
             	//"paging":   true,  
            //	scrollCollapse: true,
            // 	scrollY: 'calc(100vh - 35rem)',
             	
             	order: [1, 'asc' ],	

     	    	ajax: {
           		    url: 'getAllAssemblies',
           		 	type: 'POST',
            		contentType: 'application/json',
            		data: function ( data ) {
            			showSpinner();            	
            			var myData = {version:"1.0", clientId:"locuslink"};
            			var innerData = {};    
            			myData["data"] = innerData;	                  			
                		return JSON.stringify( myData );
     	        }, 
     	        "dataSrc": function (json) {
     	        	assemblylist = json.data.assemblylist;	     	        	
     	        	hideSpinner();		    		     	      	        	
     	        	return JSON.parse(assemblylist);     	        	      	        	
     	         }					       
        		},  
     
             columns: [	                	 
	 			// { "className": 'details-control',
 	            //   "orderable": false,
 	              // "data":      null,
 	               //"defaultContent": ''
	 	        // },	 	                       	      
	 	         { title: "Details",
	 	           data: null,
 	               className: "controlColumns",
 	               "render": function(data, type, row, meta){	            		
                    	data ="<div class='action-buttons'>" 
                    	+"&nbsp;&nbsp;<button id='barcode_" + row.assemblyPkid+ "' class='barcode-btn'  type='button'> <i class='fa-solid fa-barcode' title='BarCode Viewer'></i></button>&nbsp;&nbsp;&nbsp;"
                    	+"<button id='detail_" + row.assemblyPkid+ "' class='eye-btn' type='button'> <i class='fa-solid fa-eye' title='Assembly Details'></i></button>&nbsp;&nbsp;&nbsp;"
                    	//+"<button id='delete_" + row.assemblyPkid+ "' class='button button--text' type='button'> <i class='far fa-trash-alt fa-lg' title='Delete Assembly'></i></button></div>";	   
                    	+ "</div>"
	                return data;
	 	         }}, 
                   	         
	             { data: "assemblyPkid" },	               
                 { data: "jobNumber" },                   
                 { data: "jobDescription" },                 
                 { data: "location" },
                 { data: "stationNumber" },
                 { data: "traceNumber" } 
                        
            	],   
             	        		            	          	
           });
     	 }			
			
			
			 // Button Clicks on the Data table
	  	    $('#assemblyDataTable tbody').on('click', 'button', function (e) {
		    	
	  	    	//console.log(this);
		    	
		    	var url='';
		    	var whatWasClicked=$(this).attr("id").split("_")[0];
		    	var assemblyPkid=$(this).attr("id").split("_")[1];
		    		 	    				
		        // set the FORM value so the controller can get it.				
				$('#assemblyPkid').val(assemblyPkid).val().trim();
		        
		        	        
		   	    e.preventDefault(); // ??	    	
				showSpinner();
		    		   	    	    
				if(whatWasClicked==="detail") {

	       			showSpinner();	
	       			//console.log("detail clicked :");
	     
	       			// 5-17-2023
					//submitFormAjaxHTML('initAssetAttachments', $("#dashboardFormDTO").serialize(), "modalResponse");	       			       	       	       	       												
		   			submitFormAjaxHTML('initAssemblyDetail', $("#dashboardFormDTO").serialize(), "initCommonResponse");		

	    		} else if(whatWasClicked==="barcode") {

	    			console.log("Barcode clicked :");
	    			
	    			// 3-21-2023
	       			showSpinner();								
	       			//submitFormAjaxHTML('initAssemblyBarcode', $("#dashboardFormDTO").serialize(), "modalResponse");	
	       			submitFormAjaxHTML('initAssemblyBarcode', $("#dashboardFormDTO").serialize(), "initCommonResponse");	

	    		} else if(whatWasClicked==="delete") {
	    			url = "deleteAsset";	
	    		}
				 			
		    }); 
			 
			 
	  		// SEARCH FILTER	  		
	    		$('#assemblyDataTable_filter input').keyup(function(){
	   			table.search($(this).val()).draw() ;
	   		}); 	
			
			
			
			
			
			
			
			
			
			
	 	});       
   
	   function initCommonResponse(returnData) {	
		   hideSpinner();
		   $('#mainBody').html( returnData);    	 
	   }
	</script>	
</head>

<body>
              
    <div class="mangeuser-page assetdta-page asemble-data-page"> 
 		<div class="page-hding">
            <h1>Assembly Data</h1>
            <div class="usrad-btn import-astbtn">
                <a id="addAssembliesDataId"  href="#">Create Assembly</a>                
            </div>
             
        </div>

     <div class="dtatable-card mt-4">
     
   		<form id="dashboardFormDTO" name="dashboardFormDTO"  th:object="${dashboardFormDTO}" >  
        	
        	<input type="hidden" id="assemblyPkid" name="assemblyPkid"  th:value="${dashboardFormDTO.getAssemblyPkid}" >
        	      		
       		 <table id="assemblyDataTable" class="table table-striped recent-uplod-tble mt-4 manguser-table" style="width: 100%;" >
                <thead class="thead-light">
                   <tr>
					  <th scope="col"></th>   
                      <th scope="col">Id</th>	                                 	                          	                                 
                      <th scope="col">Job Number</th>
                      <th scope="col">Description</th>
                      <th scope="col" >Location</th>	
                      <th scope="col">Station Number</th>	
    				  <th scope="col">Trace Number</th>		                                                                     	                             	                             
                   </tr>
                </thead>
       		 </table>  	
				                                           
    </form> 
                    
   </div>
   </div> 
   	
	    
	    
</body>

</html>