<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Asset Detail</title>

	<script>	
	
		$(document).ready(function() {	

			$('#tabDetailsId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetDetail', $( "#uniqueAssetDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#tabHistoryId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetHistory', $( "#uniqueAssetDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#tabSmartTagId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetSmartTag', $( "#uniqueAssetDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#tabDocumentsId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetDocuments', $( "#uniqueAssetDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#tabImagesId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initAssetImages', $( "#uniqueAssetDTO" ).serialize(), "initCommonResponse");
			});
			
			
	 	});       
   	
	   function initCommonResponse(returnData) {	
		   hideSpinner();
		   $('#mainBody').html( returnData);    	 
	   }

	</script>	
</head>

<body id="Body">
   
	<div class="mangeuser-page assetdtaIL-page">
	

 	 	<form id="uniqueAssetDTO" name="uniqueAssetDTO"  th:object="${uniqueAssetDTO}" >  
 
 	      <input type="hidden" id="uniqueAssetPkId"  name="uniqueAssetPkId" th:value="${uniqueAssetDTO.getUniqueAssetPkId}"> 
 	      <input type="hidden" id="gotoDocumentsTab"  name="gotoDocumentsTab" th:value="${gotoDocumentsTab}"> 
 	      
		  <div class="page-hding">
		      <h1><span class="d-inline" th:text= "${uniqueAssetDTO.getProductTypeDesc()}"></span></h1>
		  </div>
 	   </form>
                
  	   <!-- Nav tabs -->
	  <div class="custome-tabs">
	      <ul class="nav nav-tabs  mt-4" role="tablist">
	          <li class="nav-item">
	              <a id="tabDetailsId" class="nav-link active" data-bs-toggle="tab" href="#">Details</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabHistoryId" class="nav-link" data-bs-toggle="tab" href="#">History</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabSmartTagId" class="nav-link" data-bs-toggle="tab" href="#">Smart Tag</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabDocumentsId" class="nav-link" data-bs-toggle="tab" href="#">Documents</a>
	          </li>
	          <li class="nav-item">
	              <a id="tabImagesId" class="nav-link " data-bs-toggle="tab" href="#">images</a>
	          </li>	
	      </ul>

      <div class="dtatable-card ">

          <div class="tab-content">
              <div id="details" class="tab-pane active">
                  <div class="row">
                      <div class="col-md-3 mb-4">
                          <div class="aset-sidebar-bx">
                              <ul class="list-unstyled asset-side-nav">
                                  <li><a href="#" class="active">General</a></li>
                                  <li><a href="#">Test certification</a></li>
                                  <li><a href="#">Images</a></li>
                              </ul>
                          </div>
                      </div>

                      <div class="col-md-9">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="aset-detal-bx">
                                      <div class="borderbx">
                                          <div class="bx-hding">
                                              <h4>General</h4>
                                          </div>

                                          <div class="row mt-4 pd-bx">
                                              <div class="col-md-12 col-lg-8 mb-3">
                                                  <div class="asset-details">
                                                      <table class="table table-striped">

                                                          <tbody>
                                                              <tr>
                                                                  <th class="t-hding">Id</th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription"  th:text="${uniqueAssetDTO.getUniversalCatalogId()}"></td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding">Unique Asset ID</th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getUniqueAssetId()}"></td>                                                                                                                                    
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding">Manufacturer </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getManufacturerName()}" > </td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding">Product Type </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription"   th:text="${uniqueAssetDTO.getProductTypeCode()}" ></td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding"> Trace Number </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getTraceTypeCode()}" ></td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding"> Customers </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription"  th:text="${uniqueAssetDTO.getCustomerName()}" > </td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding"> P Type Description</th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription"  th:text="${uniqueAssetDTO.getProductTypeDesc()}" >
                                                                  </td>
                                                              </tr>

                                                          </tbody>
                                                      </table>
                                                  </div>
                                              </div>
                                              <div class="col-md-12 col-lg-4 mb-3">
                                                  <div class="asset-img borderbx">
                                                      <img src="./images/product-img.jpg"
                                                          alt="product-img" class="img-fluid"
                                                          title="3Phase Distribution Transformer">
                                                  </div>
                                              </div>

                                          </div>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12 mt-4">
                                  <div class="aset-detal-bx">
                                      <div class="borderbx">
                                          <div class="bx-hding">
                                              <h4>Unique ID</h4>
                                          </div>


                                          <div class="row mt-4 pd-bx">
                                              <div class="col-md-12">
                                                  <div class="asset-details">
                                                      <table class="table table-striped">

                                                          <tbody>
                                                              <tr>
                                                                  <th class="t-hding">Id</th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getUniversalCatalogId()}"></td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding">Unique Asset ID</th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getUniversalCatalogId()}"></td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding">Manufacturer </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getManufacturerName()}" > </td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding">Product Type </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getProductTypeCode()}" ></td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding"> Trace Type </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getTraceTypeCode()}"  ></td>
                                                              </tr>
                                                            
                                                              <tr>
                                                                  <th class="t-hding"> Customers </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getCustomerName()}"></td>
                                                              </tr>
                                                              <tr>
                                                                  <th class="t-hding"> P Type Description
                                                                  </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription"  th:text="${uniqueAssetDTO.getProductTypeDesc()}"> </td>
                                                              </tr>

                                                          </tbody>
                                                      </table>
                                                  </div>
                                              </div>

                                          </div>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12 mt-4">
                                  <div class="aset-detal-bx">
                                      <div class="borderbx">
                                          <div class="bx-hding">
                                              <h4>Traceability Data</h4>
                                          </div>


                                          <div class="row mt-4 pd-bx">
                                              <div class="col-md-12">
                                                  <div class="asset-details">
                                                      <table class="table table-striped">

                                                          <tbody>
                                                              <tr>
                                                                  <th class="t-hding">Manufacturer </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getManufacturerName()}"> </td>
                                                              </tr>

                                                              <tr>
                                                                  <th class="t-hding"> Trace Type </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getTraceTypeCode()}"></td>
                                                              </tr>
                                                       		<tr>
                                                                  <th class="t-hding"> Trace Number </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription" th:text="${uniqueAssetDTO.getTraceCode()}"  ></td>
                                                              </tr>                                                                
      
                                                              <tr>
                                                                  <th class="t-hding"> P Type Description
                                                                  </th>
                                                                  <td class="t-dot">:</td>
                                                                  <td class="t-discription"  th:text="${uniqueAssetDTO.getProductTypeDesc()}"> </td>
                                                              </tr>

                                                          </tbody>
                                                      </table>
                                                  </div>
                                              </div>

                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>



                  </div>

              </div>
              
  			</div>
  
		</div>
		
	</div>


  	<!-- C.Sparks This is a place holder for the Modal dialog to be created. -->
  	    <div id="asset_ModalBody">	
    </div>
	    
	    
</div>

</body>

</html>