<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Dictionaries</title>
<script>

$('#dictionari-tble').DataTable({
    responsive: true,
   
 });
 

</script>
	
</head>

<body id="Body">

	<div class="mangeuser-page">

		<div class="page-hding">
                    <h1>Dictionaries</h1>
                    <div class="usrad-btn import-astbtn">
                        <a id=""  href="dictionaries-editor.html">Add New</a>

                    </div>
                </div>
        
                    
		<div class="dtatable-card mt-4">


<form id="userDTO"  name="userDTO"  th:object="${userDTO}"  method="post">  
                            
				


				
				<div id="editUserListHeaderId">
					   <table id="dictionari-tble" class="table table-striped recent-uplod-tble mt-4 manguser-table Assetdata-dtatabl display nowrap"
                        style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Dictionary Name </th>

                                <th>Connection</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>
                            <tr>
                                <td>
                                    Pipeline Device - ASTM Material
                                </td>
                                <td>Pipeline Device ASTM Material</td>
                            </tr>



                        </tbody>

                    </table>
				</div>


	</form>

		</div>

	</div>

</body>

</html>