<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
  </head>

<body>


<!-- Header -->
<div th:fragment="header" th:remove="tag">
     
   <div class="header">
        <span class="hamburger"><img src="./images/hamburger-icon.svg" alt="Hamburger" title="Hamburger"
                class="img-fluid"></span>
        <div class="serch-user_drop">
            <div class="searchbx position-relative">
                <input type="text" placeholder="Search template.">
                <img src="./images/search.svg" alt="search" title="Search" class="img-fluid">
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="./images/user-dropdown.jpg" alt="search" title="Search" class="img-fluid">
                    <span>Matthew swanson</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">My Account</a></li>
                  <!--   <li><a class="dropdown-item" href="account-setting.html">Settings</a></li> -->
  				    <li><a class="dropdown-item" href="#">Settings</a></li>                  
                    <li><a class="dropdown-item" href="#">Support</a></li>
                    <li><a class="dropdown-item" href="login.html">Logout</a></li>
                </ul>
            </div>

        </div>
    </div>
        
</div>

</body>
</html>