<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Manage Users</title>

	<script>
		$(document).ready(function () {
			hideSpinner();

			$('#addUserButtonId').click(function () {
				showSpinner();
				submitFormAjaxHTML('addUserDetail', $("#userDTO").serialize(), "initCommonResponse");
			});


			if ($('#editUserDataTable').length) {
				var table = $('#editUserDataTable').DataTable({
					responsive: true, //10-01-2024 we only need to use this to see the details
					//retrieve: true,
					//searchHighlight: true,
					//	responsive: true,	10-25-2023  this has to be off, since we are using position 0 to expand for the details data      	        	        
					"paging": true,
					//scrollCollapse: true,
					//scrollY: 'calc(100vh - 35rem)',
					order: [1, 'asc'],

					ajax: {
						url: 'getAllUser',
						type: 'POST',
						contentType: 'application/json',
						data: function (data) {
							showSpinner();
							var myData = { version: "1.0", clientId: "gim" };
							var innerData = {};
							myData["data"] = innerData;
							return JSON.stringify(myData);
						},
						"dataSrc": function (json) {
							userList = json.data.userList;
							console.log(userList);
							hideSpinner();	// C.Sparks 1-19-19			    
							return userList;
						}
					},

					columns: [

						{ data: "userLocusLinkPkId" },
						{ data: "userTypeCode" },
						{ data: "loginName" },
						{ data: "firstName" },
						{ data: "lastNameBusName" },
						/*        { data: "activeFlag" } , */
						{
							data: "activeFlag",
							"render": function (data, type, row, meta) {
								if ('Y' == row['activeFlag']) {
									data = "<div class='d-flex'><a href='#' id='deactivateUser_" + row.lanId + "_" + row.activeFlag + "' onclick='deactivateRow(this)' class='button button--text'>Deactivate </a> <a href='#'  onclick='deleteRow(this,event)' id='deleteUser_" + row.lanId + "' class='button button--text ml-3'>Delete</a></div>"
								}
								else {
									data = "<div class='d-flex'><a href='#' id='deactivateUser_" + row.lanId + "_" + row.activeFlag + "' onclick='deactivateRow(this)' class='button button--text'>Activate </a> <a href='#'  onclick='deleteRow(this,event)' id='deleteUser_" + row.lanId + "' class='button button--text ml-3'>Delete</a></div>"
								}
								return data;
							}
						},

					],

					"createdRow": function (row, data, dataIndex) {
						//console.log(data.itemNumErrorFlag);

						if (data.activeFlag == "N") {
							$(row).addClass('deactivated');
							// $('tr', row).eq(9).addClass("checked"); 
						}

					},
					//dom: '<"datatable-toolbar border border-bottom-0 text-secondary d-flex justify-content-between align-items-center py-2 px-3" <"datatable-toolbar-group" <"#addbtn">> <"datatable-toolbar-group" f> ><t><"datatable-pagination d-flex flex-row justify-content-center justify-content-md-between align-items-center mt-2" <"datatable-pagination-group d-none d-md-block" l><"datatable-pagination-group" p><"datatable-pagination-group d-none d-md-block" i>>',
					//dom: '<t><"datatable-pagination d-flex flex-row justify-content-center justify-content-md-between align-items-center mt-2" <"datatable-pagination-group d-none d-md-block" l><"datatable-pagination-group" p><"datatable-pagination-group d-none d-md-block" i>>',


				});
			}

			// SEARCH FILTER
			$('#editUserDataTable_filter input').keyup(function () {
				table.search($(this).val()).draw();
			});

			$("#addbtn").html('<button class="button button--secondary-reversed w-auto" type="button"  data-toggle="modal" data-target="#addUserModal" id="addEditUserlink"> Add User</button>');

			$(".dataTables_length select").addClass("form-control");

			$('#addEditUserlink').click(function () {
				$('#role option[value="MRC"]').prop('selected', true);
				$("#addUserModal").find('input[type="text"],textarea').val('');
				$('#addUserMessage').text("");
			});

			$(".btn-back").on('click', function () {
				showSpinner();
				$('#mainBody').load("initProfilePage", function () {
					hideSpinner();
				});
			});
		});


		function deactivateRow(el) {
			var $this = $(this);

			var id = $(el).attr("id");
			console.log(id);
			var tokens = id.split("_");
			var lanId = tokens[1];
			if (tokens[0] === "deactivateUser") {

				var activeFlag = tokens[2];
				console.log(activeFlag);
				$.post("deActivateUser", { 'lanId': (lanId), 'activeFlag': (activeFlag) }, function (resp) {
					console.log("active staus after response" + resp);
					var newid = "deactivateUser_" + lanId + "_" + resp;
					console.log(newid);
					$('#editUserDataTable').DataTable().ajax.reload();

				});
			}

		}

		function deleteRow(el, event) {
			event.stopImmediatePropagation();
			var id = $(el).attr("id");
			console.log(id);
			var tokens = id.split("_");
			var lanId = tokens[1];
			if (tokens[0] === "deleteUser") {
				jQuery('#deleteUserModal').modal();

				$('#confirmDeleteBtn').off().on('click', function () {

					$.post("deleteUserProfile", { 'lanId': (lanId) }, function () {
						if ($(el).parents("tr").hasClass("child")) {
							row = $(el).parents("tr.child").prevAll(".parent");
							$(el).parents("tr.child").prev().remove();
							$(el).parents("tr.child").remove();

						} else {
							row = $(el).parents("tr");
							$(el).parents("tr").remove();
						}

						$('#editUserDataTable').DataTable().row(row).remove().draw();

					});

				});
			}
		}

		
	 function commonResponse(returnData) {	
			hideSpinner();
			$('#mainBody').html(returnData); 
			hideSpinner();			 
	 }
	</script>

</head>

<body id="Body">

	<div class="mangeuser-page">

		<div class="page-hding">
			<h1>Manage Users & Roles</h1>
			<div id="addUserButtonId" class="usrad-btn">
                  <a href="adduser-details.html">Add Users</a>
            </div>
		</div>
        
                    
		<div class="dtatable-card mt-4">

<!-- C.Sparks 1-24-2024   add this duplicate definition for dashboard, since the default is GET, we want a POST -->
<form id="userDTO"  name="userDTO"  th:object="${userDTO}"  method="post">  
                            
				<div class="datatable-toolbar-group d-none">
					<div id="editUserDataTable_filter" class="dataTables_filter">
						<label class="d-flex align-items-center justify-content-end">Search: <input type="search" class="form-control w-auto ms-2" placeholder="" aria-controls="editUserDataTable"></label>
					</div>
				</div>


				<!-- 1-4-24   C.Sparks Data table replace the html -->
				<div id="editUserListHeaderId">
					<table id="editUserDataTable" class="table table-striped recent-uplod-tble mt-4 manguser-table"
						style="width: 100%;">
						<thead class="thead-light">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">User Type</th>
								<th scope="col">Login Id</th>
								<th scope="col">First Name</th>
								<th scope="col">Last NAme</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
					</table>
				</div>


	</form>

		</div>

	</div>

</body>

</html>