<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
   <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"/>	 	
</head>


<script>	

	$(document).ready(function() {	
		hideSpinner();	
	   	$("#modal_barcode_viewer").modal('show');		
        loadEmbededPDF();    
        
    	$('#continueGoToMRCUpload').click(function() {													
    		showSpinner();			
    		submitFormAjaxHTML('initMRCFileDrop', $( "#docUploadFormDTO" ).serialize(), "commonResponse"); 
    	});
    	    	
	});
	
	function loadEmbededPDF() {
		
     	// This make the BarCode open to the size of the container, instead of a small image inside it.
     	var options = {
   		 pdfOpenParams: {
   		        view: 'FitV',
   		        pagemode: 'thumbs',
   		        search: 'lorem ipsum'
   		    }
    	};      
	    PDFObject.embed("samplefiles/locuslink_1.pdf", "#pdfContainerId_1", options );	    	
	}   
	
	
 	function commonResponse(returnData) {	
		hideSpinner();
		$('#mainBody').html(returnData); 
		hideSpinner();			 
    }
	 
</script>
	
<body>

<form id="uniqueAssetDTO" name="uniqueAssetDTO" th:object="${uniqueAssetDTO}"  method="post" class="w-100">


	<div th:fragment="messageLogModal">
		
		<div th:id="modal_barcode_viewer" class="modal " tabindex="-1" role="dialog" aria-labelledby="classInfo"  data-keyboard="false" data-backdrop="static">
		  
		  <div class="modal-dialog modal-lg" >
		    
		    <div class="modal-content ">
		      
		      <div class="modal-header ">      
			      <h1 class="modal-title w-100 text-center"><strong>Barcode Viewer</strong></h1>
			      <button type="button" id="previousGoToUploadPage1" class="button button--continue ml-3" data-dismiss="modal" >Back</button>			       			        
		      </div>
		      
		      
		      <div class="modal-body " >      
		       	
		          <nav class="de-header-nav--simple">
			    	<ul class="de-header-nav__group">                		                   
						<li>
							<div><strong><span class="d-inline" th:text= "${uniqueAssetDTO.getManufacturerName()}"></span></strong></div>							
							<div><span class="d-inline" th:text= "'Unique Asset Id: ' +  ${uniqueAssetDTO.getUniqueAssetId()}"></span></div>		
							<div><span class="d-inline" th:text= "'Universal Catalog Id: ' +  ${uniqueAssetDTO.getUniversalCatalogId()}"></span></div>										
					     </li>                                      
						<li class="de-header-nav__item"></li>
			        </ul>
			      </nav>  
		          
		          
		          <br>
				 <section class="de-component de-component--gray p-0 pdfobject-body">				
				   	<div class="card-text-wrapper flexprop-none" style="height:480px">			  
						<div style="height:480px;width:640px;margin: 0 auto" th:id="pdfContainerId_1"  th:text="locuslink_1.pdf"> </div>		
					</div>   
			      </section>
		        
		      </div>
		      
		      
		      <div class="modal-footer">
		      </div>
		      
		      
		    </div>
		  </div>
		</div> 
	</div>  
</form>
</body>
</html>