<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>

<script>	

	var stepper1 = null;		
	Dropzone.autoDiscover = false;		
	$('#tracedropzone').dropzone({
		
		   headers:{   'X-CSRFToken' : '{{ csrf_token }}' },				
		   acceptedFiles: '.pdf',			 			 		
		   maxThumbnailFilesize: '50',
		   dictInvalidFileType: "Incorrect File type, please upload only .PDF files",			   
	    
		   init: function() {
		     this.on("addedfile", 
		    	function(file) {	    	
		      });
		     
		     this.on("success", 
		    	function(file) {
		    	  $(".dz-success-mark svg").css("background", "green");
		    	  $(".dz-error-mark").css("display", "none");	 		    	 	 		    	  
		    	  document.getElementById("continueUpload").disabled = false;	 		    		    
		      }); 		     		  
		
	     	this.on("error", 
		    	function(file) {
	     		  $(".dz-error-mark svg").css("background", "red");
	     		  $(".dz-success-mark").css("display", "none");	 	     		  	 	     		 
		      }); 		
	     	
	     	this.on("removedfile", 
	     		function(file) {
	         		var myData = {version:"1.0", protocol:"json", clientId:"trace"};
	               	var innerData = {};
	        		innerData["fileName"] = file.name;
	        		innerData["userName"] = "TSpecte";
	        		myData["data"] = innerData;

	        //		submitFormAjaxJSON("deleteFileUpload", myData, "deleteFileUploadResponse");
	        		if (this.files[0] == null) {

	 		   		document.getElementById("continueUpload").disabled = true;
	 		    }
	     		});		   
		   }
		
		}); 





	$(document).ready(function() {					
		        
		// Added for Dropzone
		window.addEventListener("dragover",function(e){
			  e = e || event;
			  e.preventDefault();
			},false);
		window.addEventListener("drop",function(e){
		  e = e || event;
		  e.preventDefault();
		},false);
		document.getElementById("continueUpload").disabled = true;	
		
		
		hideSpinner();	
	   	$("#modal_barcode_viewer").modal('show');	
	   	       
		if( $('#attachmentDataTable').length){    
			
 			var table = $('#attachmentDataTable').DataTable( {
        	retrieve: true,
 	 		searchHighlight: true,
 	 		
 	 		searching:true,
 	 		
         	responsive: true,		        
         	"paging":   true,          
         	order: [2, 'asc' ],		
         	
 	    	ajax: {
       		    url: 'getAllAssetAttachments',
       		 	type: 'POST',
        		contentType: 'application/json',
        		data: function ( data ) {
        			showSpinner();            	
        			var myData = {version:"1.0", clientId:"locuslink"};
        			var innerData = {};            			
        			innerData["uniqueAssetPkId"] = $('input#uniqueAssetPkId').val()        			   
        			
        			myData["data"] = innerData;	                  			
            		return JSON.stringify( myData );
 	        }, 
 	        
 	        "dataSrc": function (json) {
 	        	assetAttachmentlist = json.data.assetAttachmentlist;	     	        	
 	        	hideSpinner();	 	        	
 	        	//console.log(JSON.parse(assetAttachmentlist)); 	        	
 	        	return JSON.parse(assetAttachmentlist);     	        	      	        	
 	         }					       
    		},  
 
         columns: [	                	 
 			 { "className": 'details-control',
	               "orderable": false,
	               "data":      null,
	               "defaultContent": ''
 	         },	 	                       	      
 	         { title: "Details",
 	           data: null,
	               className: "controlColumns",
	               "render": function(data, type, row, meta){	            		
                	data ="<div class='action-buttons'>" 
                	+"<button id='docs_" + row.uniqueAssetPkId+ "' class='button button--text' type='button'> <i class='fas fa-file-invoice fa-lg' title='Attachment Viewer'></i></button>&nbsp;"                	                	
                	+"<button id='delete_" + row.uniqueAssetPkId+ "' class='button button--text' type='button'> <i class='far fa-trash-alt fa-lg' title='Delete'></i></button></div>";	                    
                return data;
 	         }}, 
               	         
             { data: "uniqueAssetPkId" },	               
             { data: "uniqueAssetId" },            
             { data: "manufacturerName" }, 
             { data: "filenameFullpath" },  
             { data: "docTypeDesc" },  
             
        	],
        	    		
         	dom: '<t><"datatable-pagination d-flex flex-row justify-content-center justify-content-md-between align-items-center mt-2" <"datatable-pagination-group d-none d-md-block" l><"datatable-pagination-group" p><"datatable-pagination-group d-none d-md-block" i>>',
         	             	        		            	          	
       });
 	 }
		
		// Upload Dialog Buttons
    	$('#addAttachmentId').click(function() {	    		
    		// Set the pkId on the 2nd form object, that is used by Dropzone for uploading
    		pkId = $('input#uniqueAssetPkId').val();
    		$("#tracedropzone input[name=uniqueAssetPkId]").val(pkId);
    		    		
		   	$("#attachmentUploadId").show();		   
    	});       	    
    	$('#cancelUpload').click(function() {	    		
    		$("#attachmentUploadId").hide();		    		    		    		
    	});     	    	
    	$('#continueUpload').click(function() {	
    		
    		showSpinner();	
    		
        	var myData = {version:"1.0", clientId:"trace"};
        	var innerData = {};   	        		    	        	        	
          	innerData["uniqueAssetPkId"] = $('input#uniqueAssetPkId').val();
     		myData["data"] = innerData;	      		  
			submitFormAjaxJSON('saveAttachmentsFromStagingToStorage', myData, "attachmentSaveResponse");   
    		
			hideSpinner();
			$("#attachmentUploadId").hide();
    	}); 
    	

        // BACK
    	$('#backButtonId').click(function() {	  		
    		$('.modal-backdrop').remove();    		
    		var node = document.getElementById("myworkspace_Asset_ModalBody");
    		node.parentNode.replaceChild(node.cloneNode(false), node);    		    		    		    		
    	});    	    	
  
    	
 		// SEARCH FILTER
  		$('#attachmentDataTable_filter input').keyup(function(){
 			table.search($(this).val()).draw() ;
 		}); 

 		
  		
    	 // Button Clicks on the Data table
  	    $('#attachmentDataTable tbody').on('click', 'button', function (e) {

	    	var whatWasClicked=$(this).attr("id").split("_")[0];
	    	var uniqueAssetPkId=$(this).attr("id").split("_")[1];
	    		 	    				
	        // set the FORM value so the controller can get it.				
			$('#uniqueAssetPkId').val(uniqueAssetPkId).val().trim();
	        	        	        
			if(whatWasClicked==="docs") {
       			showSpinner();											 	   
       			submitFormAjaxHTML('getAttachmentForAsset', $("#dashboardFormDTO").serialize(), "modalResponse_attachmentList");				
    		} else if(whatWasClicked==="delete") {
       			       			       			
    		} 			 		
	    }); 
    	
 		// Browse Files BUTTON on the Dropzone Box
	    $(".dz-message").html('<button type="button" class="button button--secondary mb-4" style="min-width: 20rem;">Click to browse files</button><p>Each file must be less than 20MB and a ".xls,.xlsx" file.</p>');		    		    				    
	
	});
	
 	 function attachmentSaveResponse (returnData) {	
   		//hideSpinner();		  	 
   		//$('#attachmentList_ModalBody').html(returnData); 	 		 		  		
   	 }  
 	 
  	 function modalResponse_attachmentList (returnData) {	
  		hideSpinner();		  	 
  		$('#attachmentList_ModalBody').html(returnData); 	 		 		  		
  	 }  
	
	 
</script>
	</head>
	
<body>

<input type="hidden" id="uniqueAssetPkId"  name="uniqueAssetPkId" th:value="${uniqueAssetPkId}"> 


	<div th:fragment="messageLogModal">
		
		<div th:id="modal_barcode_viewer" class="modal " tabindex="-1" role="dialog" aria-labelledby="classInfo"  data-keyboard="false" data-backdrop="static">
		  
		  <div class="modal-dialog modal-xl" >
		    
		    <div class="modal-content ">
		      
		      <div class="modal-header ">      
			      <h1 class="modal-title w-100 text-center"><strong>Asset Attachments</strong></h1>
			      <button type="button" id="backButtonId" class="button button--continue ml-3" data-dismiss="modal" >Back</button>			       			        
		      </div>
		      
		      
		      <div class="modal-body " >      

		        <div class="form-group text-center">
					<div class="card">
			
						<div class="card-header"><i class="fas fa-user mr-2"></i> Asset Attachments:</div>				
			
						<div class="de-component__container">				
			                    
							 <div class="datatable-toolbar border border-bottom-0 text-secondary d-flex justify-content-between align-items-center py-2 px-3">						 	
							 	<div class="datatable-toolbar-group">
							 		<div id="addbtn">
							 			<button id="addAttachmentId" class="button button--secondary-reversed w-auto"   type="button" data-toggle="modal" data-target="#addUserModal" > Add </button>
							 		</div> 
							 	</div>
							 
							 	<div class="datatable-toolbar-group">
							 		<div id="attachmentDataTable_filter" class="dataTables_filter">
							 			<label class="d-flex align-items-center">Search: <input type="search" class="form-control w-auto" placeholder="" aria-controls="attachmentDataTable"></label>
							 		</div>
							 	</div>
							 </div>	                     
			                  
			                 <div id="xxxx">		                     
			  	 					<table id="attachmentDataTable" class="bg-white border border-top-0" style="width:100%"> 	            	              		 	              		 
			                          <thead class="thead-light">
			                             <tr>
			     							<th scope="col"></th>       
			     							<th scope="col"></th>   
			                                <th scope="col">Id</th>	                                 	                          	                                 
			                                <th scope="col">Unique Asset ID</th>	                            
			                                <th scope="col">Manufacturer</th>
			                                <th scope="col">Attachment</th>
			                                <th scope="col">Doc Type</th>                                                                     	                             	                             
			                             </tr>
			                          </thead>
			                       </table>
			                 </div>		                                                       
						</div> 	
																			                                                          
					</div>				
		         </div>		          		        
		      </div>
		      
		      
                 
              <div id="attachmentUploadId" role="tabpanel" class="content active" aria-labelledby="stepper1trigger2" style="display:none">
                  <div class="form-group text-center bs-stepper-custom-width m-auto">
                         
                     <label class="d-inline-block mb-3" >Upload New Attachment 
                         <span th:text="${dashboardFormDTO.selectedDocType}"> </span>
                     </label>
                        

					 <form id="tracedropzone" name="tracedropzone"	th:object="${dashboardFormDTO}"  action="/portal/processAttachmentUpload" 
					 	class="dropzone dz-clickable"enctype="multipart/form-data" method="POST">								
						
						<input type="hidden" id="uniqueAssetPkId" name="uniqueAssetPkId"  />
								
						<!-- CSRF token -->
						<input type="hidden" th:name="${_csrf.parameterName}"   th:value="${_csrf.token}"/>
					
						<div class="dz-default dz-message">
							<span>Files must be less than 15MB and a '.xls' file</span>
						</div>
					</form>
				  </div>
 
                  <div class="py-4 text-center px-0 d-flex justify-content-between d-sm-block">                         
                      <button type="button" id="cancelUpload" class="button button--previous" onclick="">Cancel</button>
                      <button type="button" id="continueUpload" class="button button--continue ml-3" onclick="" >Continue</button>                                                    
                  </div>
              </div>
                     
 
            </div>
         </div> 
      </div>		      
   </div>

	
	
	<div id="attachmentList_ModalBody">	
	</div>	

</body>
</html>