<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>My Workspace</title>

    <script>

		var globalTable;		
			
    	$(document).ready(function() {	
     		hideSpinner();	
     		
     		if( $('#assetDataTable').length){
     			
     			var table = $('#assetDataTable').DataTable( {
            	retrieve: true,
     	 		searchHighlight: true,
     	 		searching:true,
             	responsive: true,		        
             	"paging":   true,	
             	scrollCollapse: true,
             	scrollY: 'calc(100vh - 35rem)',	
             	order: [0, 'asc' ],		        
         		//colReorder: true,		        
     
     	    	ajax: {
           		    url: 'getAllAsset',
           		 	type: 'POST',
            		contentType: 'application/json',
            		data: function ( data ) {
            			showSpinner();            	
            			var myData = {version:"1.0", clientId:"locuslink"};
            			var innerData = {};    
            			myData["data"] = innerData;	                  			
                		return JSON.stringify( myData );
     	        }, 
     	        "dataSrc": function (json) {
     	        	uniqueassetlist = json.data.uniqueassetlist;	     	        	
     	        	hideSpinner();		    		
     	      	        	
     	        	// Data is JSON in an array, so we JSON.parse to get it out of the array
     	        	// [{"materialId":"100","materialName":"Copper Wire","materialDesc":"2 AWG Twisted Wire."},{"materialId":"100","materialName":"Copper Wire","materialDesc":"2 AWG Twisted Wire."},{"materialId":"100","materialName":"Copper Wire","materialDesc":"2 AWG Twisted Wire."}]     	          	
     	        	console.log(JSON.parse(uniqueassetlist));
     	        	return JSON.parse(uniqueassetlist);     	        	      	        	
     	         }					       
        		},  
     
             columns: [	              	
                 { data: "uniqueAssetPkId" },
                 { data: "uniqueAssetId" },   
                 { data: "ucatPkId" },                   
                 { data: "manufacturerPkId" },                 
                 { data: "customerPkId" },
                 { data: "traceabilityTypePkId" },
                 { data: "traceCode" },
                   
            	],
            	
/*             	"createdRow": function( row, data, dataIndex ) {
            		//console.log(data.itemNumErrorFlag);            	
            	    if ( data.activeStatus == "N" ) {
            	    	 $(row).addClass('deactivated');
            	    	 // $('tr', row).eq(9).addClass("checked"); 
            	    }                	   
            	  }, */
             	  dom: '<t><"datatable-pagination d-flex flex-row justify-content-center justify-content-md-between align-items-center mt-2" <"datatable-pagination-group d-none d-md-block" l><"datatable-pagination-group" p><"datatable-pagination-group d-none d-md-block" i>>',
            	          		
           });
        }  // end docready
        

	
 		// SEARCH FILTER
  		$('#assetDataTable_filter input').keyup(function(){
 			table.search($(this).val()).draw() ;
 		}); 

 		
   		$('#previous').click(function() {					
   			showSpinner();								
   			submitFormAjaxHTML('initMyWorkspace', $("#dashboardFormDTO").serialize(), "commonResponse");														
   		});	
 		
 		
 		
   	 });  
    	
    	
	 function commonResponse(returnData) {	
		hideSpinner();
		$('#mainBody').html(returnData); 
		hideSpinner();			 
	 }
					
		
  </script>
	
  </head>

  <body id="Body">
	 						  
		<section id="manage_1_mainBody" class="de-component de-component--gray">
			
			<div class="de-component__container">
		    	<header class="de-component-header">
		            <h2 class="de-component-header__title">My Workspace</h2>
		        </header>
		    </div>

            <div class="form-group text-center">
				<div class="card">

  
					<div class="card-header"><i class="fas fa-user mr-2"></i> Unique Asset Data:
			
					</div>
				

					<div class="de-component__container">				
	                     
						 <div class="datatable-toolbar border border-bottom-0 text-secondary d-flex justify-content-between align-items-center py-2 px-3">
						 	
						 	<div class="datatable-toolbar-group">
						 		<div id="addbtn">
						 			<button class="button button--secondary-reversed w-auto" type="button" data-toggle="modal" data-target="#addUserModal" id="addEditUserlink"> Add </button>
						 		</div>
						 	</div>
						 
						 	<div class="datatable-toolbar-group">
						 		<div id="assetDataTable_filter" class="dataTables_filter">
						 			<label class="d-flex align-items-center">Search: <input type="search" class="form-control w-auto" placeholder="" aria-controls="assetDataTable"></label>
						 		</div>
						 	</div>
						 </div>	                     
	                     
		                 <div id="xxxx">		                     
	                        <table id="assetDataTable" class="bg-white border border-top-0">
	                        
	                           <thead class="thead-light">
	                              <tr>
	                                 <th scope="col">Asset Id</th>
	                                 <th scope="col">Unique Asset ID</th>
	                                 <th scope="col">Universal Catalog ID</th>	
	                                 <th scope="col">Manufacturer</th>
	                                 <th scope="col">Customer</th>
	                                 <th scope="col">Trace Type</th>
	                                 <th scope="col">Trace Code</th>	                                   
	                              </tr>
	                           </thead>
	                        </table>
		                 </div>		                     
						
					</div>
										
					<br><br>                               
                    <div class="py-4 text-center px-0 d-flex justify-content-between d-sm-block">
                         <button type="button" id="previous" class="button button--continue">Previous</button>
                    </div>
                                                               
				</div>
				
		    </div>
					

		</section>
	  
  </body>
  
</html>