<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
<title>Support</title>
	
<script>

	$(document).ready(function() {						    
		$('#navProfileSubMenuAccountId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initProfileAccount', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});		
		$('#navProfileSubMenuSettingsId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initProfileSettings', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});			
	});
	
	function initCommonResponse(returnData) {
		hideSpinner();
		$('#mainBody').html( returnData);
	}	 
</script>

</head>

<body id="Body">

<div class="mangeuser-page assetdtaIL-page acount-setingpage">

     <div class="page-hding">   
          <h1>Support</h1>
     </div>
     
     <div class="dtatable-card mt-4">
         <form id="dashboardFormDTO" name="dashboardFormDTO" th:object="${dashboardFormDTO}"  method="get" class="w-100">
            <div class="row">
            
			   <div class="col-md-4 col-xl-2">
			       <div class="row">
			           <div class="col-sm-6 col-md-12">
			               <div class="update-pic position-relative ">
			                   <img src="./images/update-profile.jpg" class="img-fluid" alt="" title="">	
			                   <div class="updateiimg-icon position-relative">
			                       <i class="fa fa-pencil"></i>
			                       <input type="file" class="opacity-0">
			                   </div>
			               </div>
			           </div>	           
			           <div class="col-sm-6 col-md-12">
			               <div class="aset-sidebar-bx mb-4">
			                   <ul class="list-unstyled asset-side-nav">
			                       <li><a id="navProfileSubMenuAccountId"  class=""  href="#" >Account Details</a></li>
			                       <li><a id="navProfileSubMenuSettingsId" class=""  href="#"  >Password Change</a></li>
			                       <li><a id="navProfileSubMenuSupportId"  class="active"  href="#"  >Support</a></li>
			                   </ul>
			               </div>
			           </div>
			       </div>	
			   </div>                  
           
             </div>
		</form>
     </div>
                              
                
</div>

</body>
</html>