<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
<title>Account Setting</title>

<script>
	$(document).ready(function() {	
						
		$('#saveButtonId').click(function() {

			var selectedRole = $( "select#roleSelectId option:checked" ).val();
			console.log("selectedRole:" + selectedRole);
		    $("#selectedUserRoleCode").val(selectedRole);
									
			console.log("firstName:" +  $("#selectedFirstName").val() );
			console.log("lastName:" +  $("#selectedLastNameBusName").val() );			
			console.log("emailId:" +  $("#selectedEmailId").val() );
			console.log("phoneNumber:" +  $("#selectedPhoneNumber").val() );
														   
			showSpinner();
			submitFormAjaxHTML('saveProfileAccount', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
						
		});	
		
		
		$('#navProfileSubMenuSettingsId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initProfileSettings', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		});			
		$('#navProfileSubMenuSupportId').click(function() {
			showSpinner();
			submitFormAjaxHTML('initProfileSupport', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
		}); 	
	});
	
	function initCommonResponse(returnData) {
		hideSpinner();
		$('#mainBody').html( returnData);
	}	 
</script>
</head>

<body id="Body">

<div class="mangeuser-page assetdtaIL-page acount-setingpage">

 <div class="page-hding">
	<h1>My Account</h1>
 </div>
                
 <div class="dtatable-card mt-4">
 
    <form id="dashboardFormDTO" name="dashboardFormDTO" th:object="${dashboardFormDTO}"  method="get" class="w-100">
               	
     <input type="hidden" id="selectedUserRoleCode" name="selectedUserRoleCode" >
      	     
     <div class="row">
                                                       
		   <div class="col-md-4 col-xl-2">
		       <div class="row">
		           <div class="col-sm-6 col-md-12">
		               <div class="update-pic position-relative ">
		                   <img src="./images/update-profile.jpg" class="img-fluid" alt="" title="">	
		                   <div class="updateiimg-icon position-relative">
		                       <i class="fa fa-pencil"></i>
		                       <input type="file" class="opacity-0">
		                   </div>
		               </div>
		           </div>	           
		           <div class="col-sm-6 col-md-12">
		               <div class="aset-sidebar-bx mb-4">
		                   <ul class="list-unstyled asset-side-nav">
		                       <li><a id="navProfileSubMenuAccountId"  class="active"  href="#" >Account Details</a></li>
		                       <li><a id="navProfileSubMenuSettingsId" class=""  href="#"  >Password Change</a></li>
		                       <li><a id="navProfileSubMenuSupportId"  class=""  href="#"  >Support</a></li>
		                   </ul>
		               </div>
		           </div>
		       </div>	
		   </div>          
          
          
          
          
          
          
          
                           
     	  <div class="col-md-8 col-xl-10">     			
	        <div class="row">
			  <div class="col-md-12">
			    <div class="aset-detal-bx">
			      <div class="borderbx adduser-form-bx">
			        <div class="bx-hding">
			          <h4>Account Details</h4>
			        </div>
						
                    <div class="row mt-4 pd-bx">
                      <div class="col-md-12">
                        <div class="asset-details">
                          <div class="row mb-3">

                            <div class="col-sm-12 col-xl-2 colum-bx">
                              <div class="uplod-inputbx">
                                <label>Role</label>
                              </div>
                            </div>

                                            
                            <div class="col-lg-9 col-xl-10 colum-bx">
                              <div class="tble-serch uplod-inputbx ">
						         <select id="roleSelectId" name="roleSelectId" class="form-select">
								    <option value="0">Select Role</option>
								    <option th:selected= "${ userLocuslink.userTypeCode == userroletype.userRoleCode }"  th:each="userroletype : ${roleList}" th:value="${userroletype.userRoleCode}" th:text="${userroletype.userRoleDesc}"></option>
								  </select>
                              </div>
                            </div>           
                                 

                              
                            
                            <div class="col-sm-12 col-xl-2 colum-bx">
                              <div class="uplod-inputbx">
                                <label>Login Id</label>
                              </div>
                            </div>

                            <div class="col-sm-12 col-xl-10 colum-bx">
                                <div class="tble-serch ">                                            
                                    <input th:value="${userLocuslink.loginName}" type="text" placeholder="Enter Login Id" title="Enter Login Id" class="form-control" disabled>                                    
                                </div>
                            </div>
                                    
                            <div class="col-sm-12 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label>First Name</label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xl-10 colum-bx">
                                <div class="tble-serch ">                                            
                                    <input id="selectedFirstName"  name="selectedFirstName"   th:value="${userLocuslink.firstName}" type="text" placeholder="Enter First name" title="Enter First name" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-12 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label>Last Name </label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xl-10 colum-bx">
                                <div class="tble-serch ">
                                    <input id="selectedLastNameBusName" name="selectedLastNameBusName"  th:value="${userLocuslink.lastNameBusName}" type="text" placeholder="Last Name" title="Last Name" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-12 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label>Email ID</label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-xl-10 colum-bx">
                                <div class="tble-serch ">
                                    <input id="selectedEmailId" name="selectedEmailId" th:value="${userLocuslink.emailAddress}"  type="text" placeholder="Enter mail ID" title="Enter mail ID" class="form-control">
                                </div>
                            </div>
                                    
                            <div class="col-sm-12 col-xl-2 colum-bx">
                                <div class="uplod-inputbx">
                                    <label>Phone Number</label>
                                 </div>
                            </div>

                            <div class="col-sm-12 col-xl-10 colum-bx">
                                <div class="tble-serch ">
                                    <input id="selectedPhoneNumber" name="selectedPhoneNumber" th:value="${userLocuslink.phoneNumber}"  type="text" placeholder="Enter Phone number" title="Enter Phone Number" class="form-control">
                                    <!-- <div class="extrpinput"></div> -->
                                </div>
                            </div>


                            <div class="usrad-btn sve-btn text-end">
                                <a id="saveButtonId" href="#">Save</a>
                            </div>
                        </div>
                      </div>
                    </div>						
			      </div>
			
			    </div>
			 </div>
		   </div>
		</div>
     </div>


    </div>
   </form>
  </div>
                                               
</div>

</body>

</html>