<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>My Workspace</title>

	<script>
    	
		$(document).ready(function() {
	
			hideSpinner();	
						
			$('#comboSelectedIndustry').val( $('#selectedIndustryPkId').val().trim() + '_' + $('#selectedIndustryUid').val().trim() );	
			$('#comboSelectedSubIndustry').val( $('#selectedSubIndustryPkId').val().trim()  + '_' +$('#selectedSubIndustryUid').val().trim()   );	
 			$('#comboSelectedVersion').val($('#selectedVersionPkId').val().trim()  + '_' + $('#selectedVersionUid').val().trim() );
			$('#comboSelectedProductType').val($('#selectedProductTypePkId').val().trim() + '_' +$('#selectedProductTypeUid').val().trim() );	
			
			// Industry
			$('#comboSelectedIndustry').change(function () {	
				var wrkIdArray =  $('#comboSelectedIndustry').val().trim().split("_");				
				$('#selectedIndustryPkId').val(  wrkIdArray[0]  );
				$('#selectedIndustryUid').val(  wrkIdArray[1]  );								
				$('#uidGenString').val(wrkIdArray[1]);					
				showSpinner();			
				submitFormAjaxHTML('processIndustrySelected', $( "#uidGeneratorFormDTO" ).serialize(), "initCommonResponse");								
			});	
			
			
			// Sub Industry
			$('#comboSelectedSubIndustry').change(function () {		
				var wrkIdArray =  $('#comboSelectedSubIndustry').val().trim().split("_");	
				$('#selectedSubIndustryPkId').val( wrkIdArray[0] );		
				$('#selectedSubIndustryUid').val( wrkIdArray[1] );					
				$('#uidGenString').val( $('#uidGenString').val() + wrkIdArray[1]);									
				showSpinner();			
				submitFormAjaxHTML('processSubIndustrySelected', $( "#uidGeneratorFormDTO" ).serialize(), "initCommonResponse");								
			});	
			
			
			// Version
			$('#comboSelectedVersion').change(function () {	
				var wrkIdArray =  $('#comboSelectedVersion').val().trim().split("_");	
				$('#selectedVersionPkId').val( wrkIdArray[0] );		
				$('#selectedVersionUid').val( wrkIdArray[1] );						
				$('#uidGenString').val( $('#uidGenString').val() + wrkIdArray[1]);
				
			});	
			
			// Product Type
			$('#comboSelectedProductType').change(function () {	
				var wrkIdArray =  $('#comboSelectedProductType').val().trim().split("_");	
				$('#selectedProductTypePkId').val( wrkIdArray[0] );			
				$('#selectedProductTypeUid').val( wrkIdArray[1] );		
				$('#uidGenString').val( $('#uidGenString').val() + wrkIdArray[1]);				
				showSpinner();			
				submitFormAjaxHTML('processProductTypeSelected', $( "#uidGeneratorFormDTO" ).serialize(), "initCommonResponse");	
			});	
			
			
			// Product Sub Type
			$('#comboSelectedProductSubType').change(function () {	
				var wrkIdArray =  $('#comboSelectedProductSubType').val().trim().split("_");	
				$('#selectedProductSubTypePkId').val( wrkIdArray[0] );			
				$('#selectedProductSubTypeUid').val( wrkIdArray[1] );		
				$('#uidGenString').val( $('#uidGenString').val() + wrkIdArray[1]);				
				showSpinner();			
				submitFormAjaxHTML('processProductSubTypeSelected', $( "#uidGeneratorFormDTO" ).serialize(), "initCommonResponse");	
			});	
			
			
			
		});
		
		
		function initCommonResponse(returnData) {	
			//	console.log("initCommonResponse()");
				hideSpinner();
				$('#mainBody').html( returnData); 
		}
		
		
	</script>
	
  </head>

  <body id="Body" >
	 	
	 	
 			
	 	
	<form id="uidGeneratorFormDTO" class="bg-light" name="uidGeneratorFormDTO"  th:value="${uidGeneratorFormDTO}" method="post"> 
  	 	    	 		
       <input type=hidden id="selectedIndustryPkId" name="selectedIndustryPkId" th:value="${uidGeneratorFormDTO.selectedIndustryPkId}" readonly>    
       <input  type=hidden id="selectedIndustryUid" name="selectedIndustryUid" th:value="${uidGeneratorFormDTO.selectedIndustryUid}" readonly>
         
       <input type=hidden id="selectedSubIndustryPkId" name="selectedSubIndustryPkId"  th:value="${uidGeneratorFormDTO.selectedSubIndustryPkId}" readonly>    
       <input type=hidden id="selectedSubIndustryUid" name="selectedSubIndustryUid"  th:value="${uidGeneratorFormDTO.selectedSubIndustryUid}" readonly> 
         
       <input type=hidden id="selectedVersionPkId" name="selectedVersionPkId"  th:value="${uidGeneratorFormDTO.selectedVersionPkId}" readonly>  
       <input type=hidden id="selectedVersionUid" name="selectedVersionUid"  th:value="${uidGeneratorFormDTO.selectedVersionUid}" readonly>  
       
       <input  type=hidden id="selectedProductTypePkId" name="selectedProductTypePkId"  th:value="${uidGeneratorFormDTO.selectedProductTypePkId}" readonly>
       <input  type=hidden id="selectedProductTypeUid" name="selectedProductTypeUid"  th:value="${uidGeneratorFormDTO.selectedProductTypeUid}" readonly>       
          		  
       <input  type=hidden id="selectedProductSubTypePkId" name="selectedProductSubTypePkId"  th:value="${uidGeneratorFormDTO.selectedProductSubTypePkId}" readonly>
       <input  type=hidden id="selectedProductSubTypeUid" name="selectedProductSubTypeUid"  th:value="${uidGeneratorFormDTO.selectedProductSubTypeUid}" readonly>              		  
          		    		  
		<section id="manage_1_mainBody" class="de-component de-component--gray">
			
			<div class="de-component__container">
		    	<header class="de-component-header">
		            <h2 class="de-component-header__title">Testing Harness</h2>
		        </header>		        
		        <header class="de-component-header">
		            <h2 class="de-component-header__title">UID Generation - Decision Tree</h2>
		        </header>		        
		    </div>

            <label class="d-inline-block mb-3" >generated UID : 
              <input  id="uidGenString" name="uidGenString" th:value="${uidGeneratorFormDTO.uidGenString}" readonly> 
            </label>
					
<br>
<br>
	
	
		<div id="industryId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedIndustry" name="comboSelectedIndustry" th:field="*{uidDtoIndustryList}" style="width: 260px">
	           	<option value="_"> -- Select Industry</option>            	
	               <option th:each="entry : ${uidDtoIndustryList}"  th:value="${entry.industryPkId}+'_'+${entry.industryUid}"  th:utext="${entry.industryDesc} "/>              
	           </select> 
		</div>
				
		<div id="subIndustryId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedSubIndustry" name="comboSelectedSubIndustry" th:field="*{uidDtoSubIndustryList}" style="width: 260px">
            	<option value="_"> -- Select Sub Industry</option>
                <option th:each="entry : ${uidDtoSubIndustryList}"  th:value="${entry.subIndustryPkId}+'_'+${entry.subIndustryUid}"   th:utext=" ${entry.industryCode}+':'+${entry.subIndustryDesc} "/>
            </select> 
		</div>  
		
		<div  id="versionId"  class="d-flex justify-content-between">	
			<select class="form-control mb-3" id="comboSelectedVersion" name="comboSelectedVersion" style="width: 260px">
				<option value="_"> -- Select Version</option>
				<option value="1_10" >Version 1.0</option>
				<option value="2_11">Version 1.1</option>	
			    <option value="3_12" >Version 1.2</option>
				<option value="4_13">Version 1.3</option>	
				<option value="5_20">Version 2.0</option>
				<option value="6_21">Version 2.1</option>												      											
			</select>	
		</div> 
				
		
 		<div  id="productTypeId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedProductType" name="comboSelectedProductType" th:field="*{uidDtoProductTypeList}" style="width: 260px">
            	<option value="_"> -- Select Asset Type</option>
                <option th:each="entry : ${uidDtoProductTypeList}"  th:value="${entry.productTypePkId}+'_'+${entry.productTypeUid}"   th:utext="${entry.productTypeDesc} "/>           
            </select> 
		</div> 
		
	 	<div  id="productSubTypeId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedProductSubType" name="comboSelectedProductSubType" th:field="*{uidDtoProductSubTypeList}" style="width: 260px">
            	<option value="_"> -- Select Asset Sub Type</option>
                <option th:each="entry : ${uidDtoProductSubTypeList}"  th:value="${entry.productSubTypePkId}+'_'+${entry.productSubTypeUid}"   th:utext="${entry.productSubTypeDesc} "/>
            </select> 
		</div>		
		
		
		
		
		
<!--  		<div id="industryId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedIndustry" name="comboSelectedIndustry" th:field="*{industryList}" style="width: 260px">
            	<option value="_"> -- Select Industry</option>
                <option th:each="entry : ${industryList}"  th:value="${entry.industryPkId}+'_'+${entry.uid}"  th:utext="${entry.industryDesc} "/>              
            </select> 
		</div> 
		
		 	<div id="subIndustryId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedSubIndustry" name="comboSelectedSubIndustry" th:field="*{subIndustryList}" style="width: 260px">
            	<option value="_"> -- Select Sub Industry</option>
                <option th:each="entry : ${subIndustryList}"  th:value="${entry.subIndustryPkId}+'_'+${entry.uid}"   th:utext="${entry.subIndustryDesc} "/>
            </select> 
		</div>  
		
		<div  id="versionId"  class="d-flex justify-content-between">	
			<select class="form-control mb-3" id="comboSelectedVersion" name="comboSelectedVersion" style="width: 260px">
				<option value="_"> -- Select Version</option>
				<option value="1_10" >Version 1.0</option>
				<option value="2_11">Version 1.1</option>	
			    <option value="3_12" >Version 1.2</option>
				<option value="4_13">Version 1.3</option>	
				<option value="5_20">Version 2.0</option>
				<option value="6_21">Version 2.1</option>												      											
			</select>	
		</div> 
												
												
												
 		<div  id="productTypeId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedProductType" name="comboSelectedProductType" th:field="*{productTypeList}" style="width: 260px">
            	<option value="_"> -- Select Asset Type</option>
                <option th:each="entry : ${productTypeList}"  th:value="${entry.productTypePkId}+'_'+${entry.uid}"   th:utext="${entry.producTypeDesc} "/>
            </select> 
		</div> 
		
	 	<div  id="productSubTypeId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedProductSubType" name="comboSelectedProductSubType" th:field="*{productSubTypeList}" style="width: 260px">
            	<option value="_"> -- Select Asset Sub Type</option>
                <option th:each="entry : ${productSubTypeList}"  th:value="${entry.productSubTypePkId}+'_'+${entry.uid}"   th:utext="${entry.producSubTypeDesc} "/>
            </select> 
		</div>  -->
		
		
			

		</section>
	
	</form>	

	      
  </body>
  
</html>



