<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>My Workspace</title>

	<script>
    	
		$(document).ready(function() {
	
			hideSpinner();	
						
			$('#comboSelectedIndustry').val($('#selectedIndustry').val().trim());	
			$('#comboSelectedSubIndustry').val($('#selectedSubIndustry').val().trim());	
			
			// Industry
			$('#comboSelectedIndustry').change(function () {
									
				// set the UID on the DTO 				
				$('#selectedIndustry').val($('#comboSelectedIndustry').val().trim());				
				// Add the Value to the UID being Generated		
				$('#uidGenString').val($('#selectedIndustry').val().trim());					
 				// Add the UID Gen value to the UI for display	
				$('#uidGenLabel').val($('#selectedIndustry').val().trim());	 
				
				showSpinner();			
				submitFormAjaxHTML('processIndustrySelected', $( "#uidGeneratorFormDTO" ).serialize(), "initCommonResponse");
								
			});	
			
			
			// Sub Industry
			$('#comboSelectedSubIndustry').change(function () {
								
				// set the UID on the DTO 				
				$('#selectedSubIndustry').val($('#comboSelectedSubIndustry').val().trim());				
				// Add the Value to the UID being Generated		
				$('#uidGenString').val($('#selectedSubIndustry').val().trim());				
				// Add the UID Gen value to the UI for display	
				$('#uidGenLabel').val($('#selectedSubIndustry').val().trim());	
								
				showSpinner();			
				submitFormAjaxHTML('processSubIndustrySelected', $( "#uidGeneratorFormDTO" ).serialize(), "initCommonResponse");				
				
			});	
			
			
			
			$('#comboSelectedProductType').change(function () {
				/* alert ("Product Type Selected ->: " + $("#comboSelectedProductType").val()) ; */								
				// set the UID on the DTO 				
				$('#selectedProductType').val($('#comboSelectedProductType').val().trim());				
				// Add the Value to the UID being Generated		
				$('#uidGenString').val($('#selectedProductType').val().trim());				
				// Add the UID Gen value to the UI for display	
				$('#uidGenLabel').val($('#selectedProductType').val().trim());								
			});	
			
			
			
		});
		
		
		function initCommonResponse(returnData) {	
			//	console.log("initCommonResponse()");
				hideSpinner();
				$('#mainBody').html( returnData); 
		}
		
		
	</script>
	
  </head>

  <body id="Body" >
	 	
	 	
 			
	 	
	<form id="uidGeneratorFormDTO" class="bg-light" name="uidGeneratorFormDTO"  th:value="${uidGeneratorFormDTO}" method="post"> 
  	 	    	 		
       <input  id="selectedIndustry" name="selectedIndustry" th:value="${uidGeneratorFormDTO.selectedIndustry}">     
       <input id="selectedSubIndustry" name="selectedSubIndustry"  th:value="${uidGeneratorFormDTO.selectedSubIndustry}">     
       <input  id="selectedProductType" name="selectedProductType"  th:value="${uidGeneratorFormDTO.selectedProductType}">
          		    		  
		<section id="manage_1_mainBody" class="de-component de-component--gray">
			
			<div class="de-component__container">
		    	<header class="de-component-header">
		            <h2 class="de-component-header__title">Testing Harness</h2>
		        </header>		        
		        <header class="de-component-header">
		            <h2 class="de-component-header__title">UID Generation - Decision Tree</h2>
		        </header>		        
		    </div>

            <label class="d-inline-block mb-3" >generated UID : 
              <input  id="uidGenString" name="uidGenString" disabled> 
            </label>
					
<br>
<br>
	
		
 		<div id="industryId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedIndustry" name="comboSelectedIndustry" th:field="*{industryList}" style="width: 260px">
            	<option value=""> -- Select Industry</option>
                <option th:each="entry : ${industryList}"  th:value="${entry.uid}"  th:utext="${entry.industryDesc} "/>
            </select> 
		</div> 
		
		 	<div id="subIndustryId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedSubIndustry" name="comboSelectedSubIndustry" th:field="*{subIndustryList}" style="width: 260px">
            	<option value=""> -- Select Sub Industry</option>
                <option th:each="entry : ${subIndustryList}"  th:value="${entry.uid}"  th:utext="${entry.subIndustryDesc} "/>
            </select> 
		</div>  
		
		<div  id="versionId"  class="d-flex justify-content-between">	
			<select class="form-control mb-3" id="comboSelectedVersion" name="comboSelectedVersion" style="width: 260px">
				<option value=""> -- Select Version</option>
				<option value="10" >Version 1.0</option>
				<option value="11">Version 1.1</option>	
			    <option value="12" >Version 1.2</option>
				<option value="13">Version 1.3</option>	
				<option value="20" >Version 2.0</option>
				<option value="21">Version 2.1</option>												      											
			</select>	
		</div> 
												
												
												
 		<div  id="productTypeId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedProductType" name="comboSelectedProductType" th:field="*{productTypeList}" style="width: 260px">
            	<option value=""> -- Select a Type of Asset</option>
                <option th:each="entry : ${productTypeList}"  th:value="${entry.productTypeCode}"  th:utext="${entry.producTypeDesc} "/>
            </select> 
		</div> 
		
		

		</section>
	
	</form>	

	      
  </body>
  
</html>





<!--  		<div id="industryId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedIndustry" name="comboSelectedIndustry" th:field="*{uidDtoList}" style="width: 260px">
            	<option value=""> -- Select Industry</option>
                <option th:each="entry : ${uidDtoList}"  th:value="${entry.industryUid}"  th:utext="${entry.industryDesc} "/>
            </select> 
		</div>
		
	 	<div id="subIndustryId"  class="d-flex justify-content-between">
			<select class="form-control mb-3" id="comboSelectedSubIndustry" name="comboSelectedSubIndustry" th:field="*{uidDtoList}" style="width: 260px">
            	<option value=""> -- Select Sub Industry</option>
                <option th:each="entry : ${uidDtoList}"  th:value="${entry.industryUid}"  th:utext="${entry.industryDesc} "/>
            </select> 
		</div> -->