<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Upload Add Data</title>

	<script>	
		$(document).ready(function() {	
			
			$('#step2ButtonPrevId').click(function() {
				showSpinner();
				submitFormAjaxHTML('uploadStep1', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#step2ButtonNextId').click(function() {
				showSpinner();
				submitFormAjaxHTML('uploadStep3', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
		
	 	});       
   
	   function initCommonResponse(returnData) {	
		   hideSpinner();
		   $('#mainBody').html( returnData);    	 
	   }
	</script>	
</head>

<body>


                <div class="page-hding page-hding">
                    <h1>Upload Data</h1>

                </div>

                <div class="dtatable-card mt-4">

                    <div class="multisteps-form">

                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div class="multisteps-form__progress">
                                    <button class="multisteps-form__progress-btn js-active" type="button" title="Step 1"
                                        data-title="Step 1">Step <span>1</span>
                                    </button>
                                    <button class="multisteps-form__progress-btn  js-active" type="button" title="Step 2"
                                        data-title="Step 2">Step <span>2</span></button>
                                        
                                    <button class="multisteps-form__progress-btn" type="button" title="Step 3"
                                        data-title="Step 2">Step <span>3</span>
                                    </button>

                                </div>
                            </div>
                        </div>
                        
                        <!--form panels-->
                        <div class="adduser-form-bx addaset-formbx borderbx" style="height:580px">
                                                                       
                           <form id="dashboardFormDTO"  name="dashboardFormDTO"  class="multisteps-form__form" th:object="${dashboardFormDTO}"  method="post">  

                                <div class="multisteps-form__panel js-active" data-animation="slideHorz">

                                    <div class="multisteps-form__content">
                                        <div class="row">
                                            <div class="col-lg-4 col-xl-3 colum-bx">
                                                <div class="uplod-inputbx">
                                                    <label>Download Template Type</label>

                                                </div>

                                            </div>
                                            <div class="col-lg-6 col-xl-7 colum-bx">
                                                <div class="tble-serch uplod-inputbx">
                                                    <select class="form-select">
                                                        <option>Select Template Type</option>
                                                        <option>Download Template Type 1</option>
                                                        <option>Download Template Type 2</option>
                                                        <option>Download Template Type 3</option>

                                                    </select>
                                                </div>
                                                <span class="orword">Or</span>
                                            </div>
                                            <div class="col-lg-2 col-xl-2 colum-bx">

                                                <div class="uplod-inputbx">
                                                    <a href="#" class="contine-btn">Download</a>
                                                </div>

                                            </div>



                                            <div class="offset-md-3 offset-lg-3 col-md-9 col-lg-9 colum-bx">

                                                <div class="uploadfile position-relative text-center">
                                                    <input type="file">
                                                    <img src="./images/export.svg" class="img-fluid" alt="export"
                                                        title="">
                                                    <h6>Drag &amp; drop files or <span>Browse</span></h6>
                                                </div>

                                            </div>

                                            <div class="col-sm-4 col-xl-3 colum-bx">
                                                <div class="uplod-inputbx">
                                                    <label>Required Documents</label>

                                                </div>

                                            </div>

                                            <div class="col-sm-8 col-xl-9 colum-bx">
                                                <div class="tble-serch ">
                                                    <input type="text" placeholder="Choose file" title="Choose file "
                                                        class="form-control">
                                                </div>

                                            </div>

                                            <div class="col-sm-4 col-xl-3 colum-bx">
                                                <div class="uplod-inputbx">
                                                    <label>Upload Additional Documents</label>

                                                </div>

                                            </div>

                                            <div class="col-sm-8 col-xl-9 colum-bx">
                                                <div class="tble-serch ">
                                                    <input type="text" placeholder="Choose file" title="Choose file "
                                                        class="form-control">
                                                    <a href="javascript:void(0)" class="add-moreinput">+ Add documents
                                                        fields
                                                    </a>
                                                    <div class="extrpinput"></div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row mt-4">
                                            <div class="offset-md-3 offset-lg-3 col-md-9 col-lg-9">
                                                <div
                                                    class="usrad-btn import-astbtn sve-btn d-flex justify-content-between">
                                                    <button id="step2ButtonPrevId" class="js-btn-prev contine-btn" type="button" title="Prev">Previous</button>
                                                    <button id="step2ButtonNextId" class="js-btn-next" type="button" title="Next">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </form>
                        </div>
                    </div>


                </div>



</body>

</html>