<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>User Added</title>

	<script>	
		$(document).ready(function() {	
			
			$('#backManageUsersButtonId').click(function() {
				showSpinner();
				submitFormAjaxHTML('initManageUsers', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
			
			$('#backAddUserDetailButtonId').click(function() {
				showSpinner();
				submitFormAjaxHTML('addUserDetail', $( "#dashboardFormDTO" ).serialize(), "initCommonResponse");
			});
			
	 	});       
   
	   function initCommonResponse(returnData) {	
		   hideSpinner();
		   $('#mainBody').html( returnData);    	 
	   }
	</script>	
</head>

<body id="Body">


    <div class="page-hding page-hding">
        <h1>User Added </h1>
    </div>

    <div class="dtatable-card mt-4">
        <div class="row mb-3">

            <div class="success-img text-center">
                <img src="./images/user-added.svg" class="img-fluid" alt="user-added"
                    title="User Added Successfully.">
                <p><span>User Name</span> has been successfully Added.</p>
                <div class="usrad-btn useradded-btns">
                    <a id="backManageUsersButtonId"  href="#" class="btn-bcktouser">Back to users</a>
                    <a id="backAddUserDetailButtonId"  href="#" class="btn-aduser">Add New User</a>
                </div>
            </div>

        </div>
    </div>



</body>

</html>