/*brand*/
.bg-primary {background-color: #005984 !important;}

/*overwrites*/
.modal-backdrop {opacity:0.05 !important;}
.btn {padding:.375rem .75rem;}
.navbar-brand {padding-top: .3125rem !important;}
.overflow-hidden {overflow: hidden;}

.btn-group-toggle .btn {padding: 0.25rem .5rem;}
.btn-group>.btn:not(.dropdown-toggle) {color: #6c757d;background-color: #fff;border: 1px solid #ced4da;}
.btn-group>.btn:not(.dropdown-toggle):hover {color: #6c757d;background-color: #ced4da;border-color: #ced4da;}
.btn-secondary:not(:disabled):not(.disabled).active:hover {color: #fff;background-color: #545b62;border-color: #4e555b;}

/*custom - barcodePrint*/
.min-height-body {min-height: calc(100vh - 10.5rem);}
.link {color: #005984;fill: #005984;cursor: pointer}
.toggle-txt-field .link, 
.toggle-txt-field input {display: none;}
.toggle-txt-field .active {display: block;} 
.sub-nav {height: 3.5rem;color: #fff;}
