:root {
    --f-poppins: "Poppins", sans-serif;
    --c-primary: #C4532A;
    --c-secondary: #2062AC;
    --c-warning: #D67C05;
    --c-danger: #c50808;
    --c-white: #fff;
    --c-off-white: #FAFAFA;
    --c-black: #000;
    --c-dark: #454545;
    --c-dull: #7F7F7F;
    --c-gray: #DDDDDD;
    --c-gray-l: #ECECEC;
   
}

* {
    font-family: var(--f-poppins);
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

body {
    background-color: var(--c-white);
    color: var(--c-black);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: var(--c-off-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--c-gray);
    border-radius: 2px;
    opacity: 0.6;
}

img {
    width: 100%;
}

a {
    text-decoration: unset;
    color: var(--dark);
}

ul,
ol,
p {
    margin-bottom: unset;
}

button {
    border: unset;
    background-color: unset;
}

button:is(:hover, :focus) {
    outline: unset;
    border: unset;
}




.login-container {
    background: url(../images/login-transformer2.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center right;
}

.login-shape {
    background: url(../images/login-shape.svg)no-repeat;
    background-size: contain;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}

.login-form {

    width: min(470px, 100%);
}

.logo a {
    display: inline-block;
}

.login-hding h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 30px;
    font-weight: bold;

}

.login-hding h1 span {
    font-size: 16px;
    font-weight: normal;
    display: block;
    margin-top: 15px;
}

.login-form .form-group label {
    display: inline-block;
    margin-bottom: 15px;
    color: #3C3C3C;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 18px;
}

.login-form .form-control:focus,
.form-check-input:focus {
    box-shadow: none;
    border-color: inherit;
}

.login-form .form-group {
    margin-bottom: 35px;
    position: relative;
}

.login-form .form-group .form-control {
    height: 55px;
    border-radius: 50px;
    border: 1px solid #D3D3D3;
    padding: 10px 10px 10px 20px;
}


.login-form .form-group img {
    display: inline-block;
    width: 17px;
    position: absolute;
    right: 0;
    bottom: 13px;
    right: 20px;
}

.chekbx-fogetpass {
    display: flex;
    justify-content: space-between;
}

.form-check-input:checked {
    background-color: var(--c-primary);
    border-color: var(--c-primary);
}


.forgot-pswd a,
.form-check-label {
    color: #a7a2a2;
    font-size: 16px;
    transition: 0.5s ease-in-out;
    display: inline-block;
}

.login-btn a {
    background: var(--c-primary);
    color: var(--c-white);
    font-weight: 800;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50px;
    letter-spacing: 0.85px;
    margin-top: 50px;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
}

.login-btn a img {
    max-width: 20px;
}

.login-btn a:hover {
    opacity: 1;
}

.forgot-pswd a:hover {
    color: var(--c-primary);
}