@charset "utf-8";
/* CSS Document */


.progress {background-color:#f2f4f4;height:.5rem;overflow: hidden;}
.progress-bar {background-color:#26bcd7;background: #007FAA;}

.progress-p2q {background-color:#f2f4f4;height:.5rem;overflow: hidden;}
.progress-bar-p2q {background-color:#26bcd7;background: #007FAA;}

