:root {
    --f-poppins: "Poppins", sans-serif;
    --c-primary: #C4532A;
    --c-secondary: #05004E;
    --c-danger: #c50808;
    --c-white: #fff;
    --c-green: #32B373;
    --c-off-white: #FAFAFA;
    --c-black: #000;
    --c-dark: #454545;
    --c-dull: #7F7F7F;
    --c-gray: #DDDDDD;
    --c-col-gray: #E8EAF5;
    /* --c-body: #F7F6FF; */
    --nv-activebg: linear-gradient(233deg, #2F2E7A 20.89%, #1F1F4F 54.08%);
    --hdr-shadow: 0px 3px 12px 10px rgba(0, 0, 0, 0.06);
    --card-shadow: 0px 8px 24px 0px rgba(56, 149, 209, 0.16);
    --nav-width: 280px;
    /* --shadow: 0px 1px 20px 1px #0000001a;
    --ease-in-out-4: .4s all cubic-bezier(0.25, 0.46, 0.45, 0.94); */

}

body.nav-collpsed {
    --nav-width: 80px;
}

* {
    font-family: var(--f-poppins);
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

body {
    background-color: var(--c-col-gray);
    color: var(--c-black);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: var(--c-off-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--c-gray);
    border-radius: 2px;
    opacity: 0.6;
}

/* img {
    width: 100%;
} */

a {
    text-decoration: unset;
    color: var(--dark);
}

.form-control:focus {
    box-shadow: 0 0 0 2px rgba(13, 110, 253, .25);
}

ul,
ol,
p {
    margin-bottom: unset;
}

button {
    border: unset;
    background-color: unset;
}

button:is(:hover, :focus) {
    outline: unset;
    border: unset;
}

/* sidebar navigation css */


.nav-collpsed .brand_logo img:first-child {
    display: none;
}

.nav-collpsed .brand_logo img:nth-child(2) {
    display: block !important;
    transition: all 0.8s ease-in-out;
}


.brand_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    max-width: 200px;
    margin: auto;
}

.nav-aside {
    position: fixed;
    inset: 0;
    background: var(--c-white);
    width: var(--nav-width);
    padding: 20px;
    transition: all 0.5s ease-in-out;
    z-index: 10;
    overflow-y: auto;
}



.sidenav_wrap {
    padding-block: 3rem;
}

.sidenav_wrap>.nav_item {
    position: relative;
    margin-bottom: 10px;
}



.sub-menu-nav {
    background: #E8EAF6;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 0 0 8px 8px;
}



.nav_link {
    display: flex;
    gap: 8px;
    align-items: center;
    transition: all 0.5s ease-in-out;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: var(--c-secondary);
    position: relative;
}

.nav-collpsed .nav_link {
    justify-content: center;
    padding: 8px 18px;
}

.nav-collpsed .nav_link span {
    opacity: 0;
    display: none;
}


.nav_link.active,
.nav_link:hover {
    background: var(--nv-activebg);
    color: var(--c-white);
}

.nav_link:hover svg path,
.nav_link.active svg path {
    stroke: var(--c-white);
}

/* dorpdown css */
.nav_link.dropdown_menu::after {
    content: '\f078';
    font-family: "Font Awesome 6 Free";
    position: absolute;
    right: 12px;
    bottom: 14px;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
}

.nav_link.dropdown_menu[aria-expanded="true"] {
    border-radius: 8px 8px 0 0;
    transition: initial;

}

.nav_link.dropdown_menu[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.nav_link.dropdown_menu [data-bs-toggle="collapse"] {
    transform: rotate(360deg);
}


/*header  css */
.header {
    box-shadow: var(--hdr-shadow);
    background: var(--c-white);
    padding: 15px 30px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;

}

.content-container {
    width: calc(100% - var(--nav-width));
    transition: all 0.5s ease-in-out;
    margin-left: auto;

}


.hamburger {
    cursor: pointer;
    display: inline-block;
}


/*header search bar css */
.serch-user_drop,
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serch-user_drop {
    gap: 45px;
}

.searchbx {
    width: 300px;
}

.searchbx input {
    height: 44px;
    border: 1px solid #BCBDBE;
    width: 100%;
    font-size: 14px;
    background: #F7F7F7;
    border-radius: 4px;
    padding: 12px 10px;
    outline: none;
}

.searchbx input::placeholder {
    color: #D9DADA;
}

.searchbx img {
    position: absolute;
    width: 22px;
    right: 15px;
    top: 10px;
}

/*user prfofile dropdown css */

.dropdown-toggle img {
    width: 58px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.dropdown-toggle>span {
    display: inline-block;
    font-size: 18px;
    color: var(--c-secondary);
    font-weight: 500;
}

.serch-user_drop .dropdown-menu.show {
    display: block;
    font-size: 14px;
    min-width: 170px;
    border-radius: 4px !important;
    box-shadow: 0px 8px 24px 0px rgba(75, 75, 75, 0.20);
    border: none;
    right: 0 !important;
    left: inherit !important;
    transform: translate(0px, 50px) !important;
    padding: 10px 10px 0;
}

.serch-user_drop .dropdown-menu .dropdown-item {
    border-bottom: 0.5px solid #D9D9D9;
    font-size: 14px;
    color: var(--c-secondary);
    padding: 8px 5px;
}


.serch-user_drop .dropdown-menu .dropdown-item:active {
    background: var(--c-secondary);
    color: var(--c-white);
}


.serch-user_drop .dropdown-menu li:last-child .dropdown-item {
    border-bottom: none;
}

/* dashbaord css */

.main__wrap {

    padding: 30px;
}

.page-hding h1,
.page-hding h2 {
    color: var(--c-secondary);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
}

.user-card {
    border: 1px solid #E5E9EB;
    padding: 30px 25px;
    border-radius: 4px;
    background: var(--c-white);
}

.card-icon {
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #FFDFF6;
    display: flex;
    justify-content: center;
}

.asset-card .card-icon {
    background: #DDFFE7;
}

.catalog-card .card-icon {
    background: #FFEBEA
}

.card-icon img {
    width: 20px;
}

.view-btn a {
    border: 1px solid var(--c-primary);
    padding: 9px 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    color: var(--c-secondary);
    transition: all 0.5s ease-in-out;
}

.view-btn a:hover {
    background: var(--c-primary);
    color: var(--c-white);
}

.user-card h4 {
    color: #181818;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.user-card span {
    color: var(--c-primary);
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
}

.card-user,
.btn-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* upload data css */
.page-hding h2 {
    font-size: 20px;
    font-weight: 600;
}

.uplod-inputbx label {
    font-weight: 500;
    font-size: 16px;
    color: var(--c-black);
    margin-bottom: 10px;
}

.form-select:focus {
    box-shadow: none;
}

.uplod-inputbx .form-select,
.tble-serch .form-control {
    border: 1px solid #E5E9EB;
    height: 50px;
    border-radius: 4px;
    font-size: 14px;
}

.contine-btn {
    font-size: 16px;
    font-weight: 500;
    color: var(--c-primary);
    border: 1px solid var(--c-primary);
    padding: 10px 15px;
    width: 143px;
    background: var(--c-white);
    border-radius: 4px;
    display: block;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.contine-btn:hover {
    background: var(--c-primary);
    color: var(--c-white);
}

.assetdta-page .contine-btn,
.assetdetl-btn .contine-btn {
    width: inherit;
}


/* recent unique id */
.recent-uniq-id-bx {
    background: var(--c-white);
    min-height: 335px;
    overflow-y: auto;
    border-radius: 4px;
}

.recent-uniq-id-bx::-webkit-scrollbar,
.nav-aside::-webkit-scrollbar {
    height: 3px;
    background: red;
    color: red;
    width: 3px;
}

.recent-uniq-id-bx::-webkit-scrollbar-thumb,
.nav-aside::-webkit-scrollbar-thumb {
    background: var(--c-primary);
}





.unique-idbx .table th {
    font-size: 14px;
    color: #96A5B8;
    font-weight: 400;
    padding: 0 15px 15px 15px;
}

.unique-idbx .table td {
    color: #444A6D;
    vertical-align: middle;
    padding: 13px 15px;
}

.unique-idbx .table tr:last-child td {
    border: none;
}

.uniqid-proces {
    min-width: 150px;
    height: 4px;
    border-radius: 50px;
    background: #CDE7FF;
}

.progress-bar {
    width: 60%;
    border-radius: 91px;
    background: #0095FF;
}

.percent-btn {
    color: #0095FF;
    padding: 3px 11px;
    border-radius: 4px;
    border: 1px solid #0095FF;
    text-align: center;
    font-size: 14px;
    background: #F0F9FF;
    display: inline-block;
}

/* process bar colors */
.gren-color {
    background: #8CFAC7;
}

.gren-color .progress-bar {
    background: #00E096;
}

.prple-color {
    background: #C5A8FF;
}

.prple-color .progress-bar {
    background: #884DFF;
}

.yelow-color {
    background: #FFD5A4;
}

.yelow-color .progress-bar {
    background: #FF8F0D;
}

.orge-btn {
    background: #FEF6E6;
    border: 1px solid #FF8900;
    color: #FF8900;
}

.gren-btn {
    background: #F0FDF4;
    border: 1px solid #00E096;
    color: #00E096;
}

.prpl-btn {
    background: #FBF1FF;
    border: 1px solid #884DFF;
    color: #884DFF;
}


/* process bar colors end */

.card-hding h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--c-secondary);
    margin: 25px;
    display: block;
}

.barcode-img {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.asset-graph {
    padding: 0 15px;
}

/* dashbaord data table css */
.dtatable-card {
    box-shadow: var(--card-shadow);
    padding: 35px 30px;
    border-radius: 20px;
    background: var(--c-white);
    border: 1px solid #D9D9D9;
}

.tble-hding h5 {
    color: var(--c-secondary);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
}

.recent-uplod-tble .sorting {
    color: #141313;
    font-size: 14px;
    font-weight: 500;
   text-wrap: nowrap;
}

.recent-uplod-tble.dataTable.table-striped>tbody>tr.odd>* {
    background: #F2F2F2;
    box-shadow: none;

}

.dataTables_wrapper .row:first-child {
    margin-bottom: 10px;
}

.dataTables_wrapper .row:last-child {
    margin-top: 20px;
}


.recent-uplod-tble.dataTable td {
    font-size: 14px;
    border-bottom: 1px solid #D9D9D9;
    color: #141313;
    font-weight: 400;
    vertical-align: middle;
    padding: 10px 10px;
}


.page-link,
.dataTables_info,
.disabled>.page-link,
.page-link.disabled {
    font-size: 14px;
    font-weight: 400;
    color: #141313;
}

.page-link {
    padding: 7px 15px;
    font-size: 14px;
    box-shadow: none !important;
}

.disabled>.page-link,
.page-link.disabled {
    background: none;
}

.active>.page-link,
.page-link.active {
    background: var(--c-secondary);
    border-color: #DEE2E6;
}

/* toggle slider css */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--c-secondary);
}


input:checked+.slider:before {
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.acton-btns {
    display: flex;
    gap: 15px;
    align-items: center;

}

.acton-btns a {
    border-radius: 8px;
    width: 35px;
    background: #32B373;
    color: white;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.acton-btns .edit-btn {

    background: var(--c-green);
}

.acton-btns .view-btn {
    background: var(--c-secondary);
}

.acton-btns .delete-btn {
    background: var(--c-danger);
}

.acton-btns a:hover {
    opacity: 1;
}

/* manage user page css */
.mangeuser-page .page-hding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.usrad-btn a,
.js-btn-next {
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
    background: var(--c-primary);
    color: var(--c-white);
    font-size: 16px;
    display: inline-block;
    font-weight: normal;
    padding: 12px 20px;
    border-radius: 8px;
}

.usrad-btn a:hover,
.js-btn-next:hover {
    opacity: 1;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 10px 25px;
}

.tble-serch input {
    border: 1px solid #E5E9EB;
    width: 100%;
    display: block;
}

.mangeuser-page .page-hding h1 {
    margin-bottom: 0;
}


/* add user page */
.adduser-form-bx .uplod-inputbx label {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    color: var(--c-black);
}

.adduser-form-bx .uplod-inputbx label span {
    color: var(--c-primary);
    font-weight: 600;
    font-size: 17px;
}

/* .adduser-form-bx .row .colum-bx, {
    margin-bottom: 30px;
} */


.colum-bx {
    margin-bottom: 30px;
}


.add-moreinput {
    color: var(--c-primary);
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    display: inline-block;
}

.tble-serch .form-control::placeholder {
    color: #B3B2B2;
    font-size: 14px;
    font-weight: normal;
}

.sve-btn a,
.js-btn-next {
    min-width: 111px;
    text-align: center;
}

.warning-msg {
    display: block;
    text-transform: capitalize;
    color: var(--c-primary);
    margin-bottom: 30px;
    font-size: 14px;
}

.warning-msg span {
    font-weight: 600;
    font-size: 16px;
}

.validation-msg {
    font-size: 14px;
    color: var(--c-primary);
    text-transform: capitalize;
    margin-top: 10px;
    display: block;
}

/* user added succesfully page */
.success-img p {
    font-size: 16px;
    color: hsl(0deg 0% 0% / 40%);
    font-weight: 500;
}

.success-img p span {
    font-weight: 600;
    color: var(--c-primary);
    font-size: 18px;
    display: inline-block;
}

.usrad-btn .btn-bcktouser {
    color: var(--c-primary);
    background: var(--c-white);
    border: 1px solid var(--c-primary);
}

.usrad-btn .btn-bcktouser:hover {
    background: var(--c-primary);
    color: var(--c-white);
}

.useradded-btns {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 25px 0;
}

/* Asset Data page start */
.details-btn {
    display: flex;
    gap: 20px;
}

.details-btn .barcode-btn {
    color: var(--c-secondary);
}

.details-btn .eye-btn {
    color: var(--c-primary);
}

.Assetdata-dtatabl .sorting {
    min-width: 150px;
    padding-right: 30px;
}

.Assetdata-dtatabl.dataTable td {
    padding-right: 30px;
}


.dataTables_scrollBody::-webkit-scrollbar-track {
    background-color: transparent;

}

.dataTables_scroll {
    overflow: auto;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 100px;
    height: 1px;
    background-color: var(--c-primary);
}

.assetdetl-btn {
    max-width: 143px;
}

.import-astbtn {
    gap: 25px;
    display: flex;
}

.import-astbtn .imprort-btn {
    background: #32B373
}

/* Asset details page start */
.custome-tabs .nav-tabs {
    padding: 0 35px;
    border: none;
    gap: 20px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    background: var(--nv-activebg);
    color: var(--c-white);
}

.nav-tabs .nav-link.active {
    font-weight: 500;

}

.nav-tabs .nav-link {
    background: #D9D9D9;
    padding: 10px 30px;
    color: #3C3C3C;
    border-radius: 8px 8px 0 0;
    border: none;
    font-weight: normal;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}

.asset-side-nav {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 15px 10px;

}

.asset-side-nav li a {
    display: block;
    padding: 13px 15px;
    border-radius: 8px;
    color: #B3B2B2;
    margin-bottom: 5px;
}




.asset-side-nav li a.active,
.asset-side-nav li a:hover {
    background: #E8EAF6;
    color: var(--c-secondary);
}

.borderbx {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.pd-bx {
    padding: 0 20px;
}

.bx-hding {
    border-bottom: 1px solid #D9D9D9;
    padding: 12px 20px;
}

.bx-hding h4 {

    font-size: 18px;
    font-weight: 500;
    margin: 0;

}

.t-hding,
.t-discription {
    font-size: 14px;
    color: #141313;
    font-weight: normal;
    vertical-align: middle;
}

.asset-img {
    min-height: 308px;
    display: flex;
    align-items: center;
}

.t-dot {
    font-weight: bold;
    font-size: 18px;
}

/* barcode tab section */

.tab-subhding h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.barcdetab {
    border-radius: 8px;
    border: 1px solid #9FB6D8;

}

.barcdetab>img {
    padding: 30px;
}

/* document tab section */

.procut-tab h3,
.procut-tab h3 a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.procut-tab h3 {
    justify-content: space-between;
    gap: 25px;
}

.procut-tab h3 a {
    opacity: 0.8;
    gap: 10px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--c-primary);
}

.procut-tab h3 a:hover {
    opacity: 1;
}

.image-tab-img {
    overflow: hidden;
    margin-bottom: 25px;
    text-align: center;
}

.image-tab-img h5 {
    margin: 0;
    text-align: center;
    font-size: 18px;
    background: var(--nv-activebg);
    color: var(--c-white);
    padding: 12px 10px;
    font-weight: normal;

}

.download-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    background: var(--c-green);
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}

.document-name-bx {
    width: 72px;
    height: 68px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    color: var(--c-black);
    align-items: center;
    justify-content: center;
    background: rgb(33 30 255 / 20%);
    border-radius: 4px;
    padding: 10px;
}

.document-bx {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.document-hding h6 {
    margin: 0;
}

.document-hding h6 span {
    display: block;
    color: #B4B4C1;
    font-size: 16px;
    font-weight: 400;
}

.documentname-hdingbx,
.download-delte {
    display: flex;
    gap: 15px;
    align-items: center;
}

.document-bx .download-icon {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}

/* addaset page css start */
.addaset-formbx {
    padding: 30px;
}

.adaset-hding {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
}

.delte-icon {
    background: #FF3F3F;
}

.download-delte {
    gap: 10px;
}

.edit-ast-bx label {
    margin: 0;
}

.uploadfile span {
    display: inline-block;
    color: var(--c-primary);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.uploadfile input {
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
}

.edit-aset-subhding {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editaset-p-image h5 {
    font-size: 14px;
}

.editaset-p-image .download-delte {

    position: absolute;
    right: 15px;
    top: 15px;
}


.editaset-p-image .download-icon {
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* flter */
.filter_wrap {
    --i-item: 5;
    --g-item: 24px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 0 24px;
    align-items: end;
}

.filter_wrap .item {
    flex-grow: 1;
    width: calc((100% - (var(--g-item) * (var(--i-item) - 1))) / var(--i-item));
}

.item.assetdetl-btn1 {
    max-width: 129px;
}

.orword {
    text-align: center;
    display: block;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}

/* flter end*/
/* import asset page */
.importasset-page .uploadfile input {
    inset: 0;
}

.importasset-page .uploadfile {
    height: 205px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #F3F4FA;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px dashed var(--c-secondary);
    align-items: center;
    cursor: pointer;
}

/* accout setting screen */

.asset-side-nav {
    padding: 15px 10px 0;
}

.asset-side-nav li a {
    font-size: 14px;
    padding: 10px 15px;
}

.update-pic {
    margin-bottom: 35px;
}

.update-pic>img {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.updateiimg-icon {
    width: 30px;
    aspect-ratio: 1/1;
    border: 2px solid var(--c-primary);
    border-radius: 50%;

    text-align: center;
    margin: -20px auto;
    z-index: 1;
    overflow: hidden;
    background: white;
}

.updateiimg-icon input {
    opacity: 0;
    z-index: 1;
    inset: 0;
    position: absolute;
}

.updateiimg-icon i {
    color: var(--c-primary);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.importasset-page .table th {
    font-weight: 600;
    padding: 14px;
    white-space: nowrap;
}

.importasset-page .table th,
.importasset-page .table td {
    width: 50%;
    vertical-align: middle;
}

.importasset-page .table td {
    color: #B3B2B2;
    font-size: 16px;
    padding: 10px;
    text-transform: capitalize;
}

.select-btn button {
    background: rgb(196 83 42 / 15%);
    display: inline-block;
    padding: 4px 14px;
    border-radius: 4px;
    color: var(--c-primary);
    font-size: 14px;
    transition: all 0.5s ease-in-out;
}

.select-btn button:hover {
    color: var(--c-white);
    background: var(--c-primary);
}


/* wizard form css */
.js-btn-prev {
    border-radius: 8px;
}

.js-btn-prev:hover {
    border: 1px solid var(--c-primary);
}

.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 55px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: 34px;
    border: none;
    background-color: transparent;
    outline: none !important;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
}



.multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 40px;
    height: 40px;
    content: '';
    border: 2px solid #E7E8EC;
    border-radius: 50%;
    background-color: #E7E8EC;
    box-sizing: border-box;
    z-index: 3;
}

.multisteps-form__progress-btn:after {

    position: absolute;
    top: 19px;
    left: calc(-34% - -6px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 80%;
    height: 5px;
    content: '';
    background-color: #E7E8EC;
    z-index: 1;
}


.multisteps-form__progress-btn:first-child:after {
    display: none;
}

.multisteps-form__progress-btn.js-active {
    color: var(--c-primary);
}

.multisteps-form__progress-btn.js-active:before {
    /* -webkit-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);*/
    background-color: currentColor;
    border: var(--c-primary);
}

.multisteps-form__form {
    position: relative;
}

/* .multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
} */

.multisteps-form__panel[data-animation="scaleOut"] {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.multisteps-form__panel[data-animation="scaleOut"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.multisteps-form__panel[data-animation="slideHorz"] {
    left: 50px;
}

.multisteps-form__panel[data-animation="slideHorz"].js-active {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
    transition-delay: 0s;
    left: 0;
}

.multisteps-form__panel[data-animation="slideVert"] {
    top: 30px;
}

.multisteps-form__panel[data-animation="slideVert"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    top: 0;
}

.multisteps-form__panel[data-animation="fadeIn"].js-active {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.multisteps-form__panel[data-animation="scaleIn"] {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.multisteps-form__panel[data-animation="scaleIn"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.multisteps-form__progress-btn.js-active::after {
    background: var(--c-primary);
}

.multisteps-form__progress-btn span {
    position: absolute;
    top: 3px;
    z-index: 9;
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-indent: -40px;
}

/* wizard form css end*/

/* create new connection css */

.editconetion-hding {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crte-conetion-page .t-hding {
    text-transform: capitalize;
    padding-left: 20px;
}

.editconetion {
    cursor: pointer;
    color: var(--c-green);
    font-weight: 500;
}

.uplod-inputbx textarea.form-control {
    height: 170px;
}

.detailsbx,
.editconetion {
    display: none;
}


/* Authentication */
.container_wrap {
    box-shadow: var(--card-shadow);
    padding: 35px 30px;
    border-radius: 20px;
    background: var(--c-white);
    border: 1px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.auth_container .inner_wrap {
    padding: 1.5rem;
    min-height: 200px;
    display: grid;
    place-content: center;
    width: min(330px, 100%);
    text-align: center;
    margin: auto;
}

.auth_container .inner_wrap:has(button:disabled) {
    opacity: .5;
}


.auth_container .inner_wrap .note_text {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--c-black);
}

.auth_container .inner_wrap button {
    width: 47px;
    aspect-ratio: 1/1;
    background: var(--c-primary);
    color: #f9f9f9;
    font-size: 30px;
    margin: auto;
}

.from_wrap {
    display: none;
}

.importasset-page .import-astbtn a {
    background: var(--nv-activebg);
}

.note_text>span {
    display: block;
    position: relative;
    color: var(--c-primary);
}


.import-astbtn .imprort-btn.importvlue-btn {
    color: #32B373;
    position: relative;
    background: none;
    cursor: pointer;
}

.import-astbtn .edit-btn.editconetion {
    color: var(--c-primary);
    background: none;
}

.import-astbtn .edit-btn.editconetion,
.import-astbtn .imprort-btn.importvlue-btn {
    padding: 12px 0px;
}

.note_text>span input,
.importvlue-btn input {
    opacity: 0;
    position: absolute;
    display: inline-block;
    inset: 0;
    cursor: pointer;
}

.aiuplod-page .table th {font-size: 14px; }

.aiuplod-page .table th,
.aiuplod-page .table td {
    width: auto;
}
.aiuplod-page .table td {
   padding: 13px 26px 13px 13px;
}

.aiuplod-page .table td {
    font-size: 14px;
    color: #141313;
    font-weight: 400;
 }
 .aiuplod-page .edit-ast-bx label{font-size:15px;}
 

 
/*  table responsive icons design plus minus */
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
       line-height: 14px;
    content: '-';
    background-color: #d33333;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    content: "+";
    background: #31b131;
}
table.dataTable>tbody>tr.child span.dtr-title {min-width: 150px;}
.dtr-data {display: inline-block;}
table.dataTable>tbody>tr.child ul.dtr-details {display: block;}
 
 
 
 
 /*Extra css for updating the dropzone class*/
 .dropzone {
     box-shadow: none;
    background: none;
    position: inherit;
    max-height: inherit;
    border: none;
    padding: inherit;
    min-height: inherit;
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border: 0.5px dashed red;
}
.dropzone .dz-preview .dz-progress {
    display: none;
}

.uploadfile span {
    display: inline;
    color: var(--c-primary);
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-word;
}

.dropzone .dz-preview .dz-details .dz-filename:hover span {border: 1px solid rgba(200, 200, 200, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
    background: none;
    border: none;}
.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 0;
    font-size: 16px;
}
.dropzone .dz-preview .dz-remove:after {
    position: absolute;
    top: -8px;
    width: 30px;
    height: 30px;
    right: -11px;
    background: red;
    z-index: 11;
    border-radius: 50%;
    content: "x";
    font-size: 19px;
    color: white;
    font-weight: bold;
}
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {width: 25px; height:25px;}
    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {    pointer-events: none;
    
  margin-left:0;
  margin-top:0; 
    transform: translate(-50%, -50%);}
    .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span, .dropzone .dz-preview .dz-details .dz-filename:hover  { background:transparent; white-space: normal;  position: initial; }
   
   /*   .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span, .dropzone .dz-preview .dz-details .dz-filename:hover {position: initial; } */
    
    
    .action-buttons {display:inline-block;}
    
    
    /*Extra css for updating the dropzone class section end*/
 
 
 