<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Account Setting</title>

	
</head>

<body id="Body">

<div class="mangeuser-page assetdtaIL-page acount-setingpage cnge-paswd-pge">
     <div class="page-hding">
                    <h1>Account Setting</h1>

                </div>
                <div class="dtatable-card mt-4">
                 <form id="dashboardFormDTO" name="dashboardFormDTO" th:object="${dashboardFormDTO}"  method="get" class="w-100">
                 <div class="row">
                        <div class="col-md-4 col-xl-2">
                            <div class="row">

                                <div class="col-sm-6 col-md-12">
                                    <div class="update-pic position-relative ">
                                        <img src="./images/update-profile.jpg" class="img-fluid" alt="" title="">

                                        <div class="updateiimg-icon position-relative">
                                            <i class="fa fa-pencil"></i>
                                            <input type="file" class="opacity-0">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-12">
                                    <div class="aset-sidebar-bx mb-4">
                                        <ul class="list-unstyled asset-side-nav">
                                            <li><a href="account-setting.html">Account Details</a></li>
                                            <li><a href="change-password.html" class="active">Password Change</a></li>
                                            <li><a href="#">Support</a></li>
                                            <li><a href="login.html">Logout</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-8 col-xl-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="aset-detal-bx">
                                        <div class="borderbx adduser-form-bx">
                                            <div class="bx-hding">
                                                <h4>Password Change</h4>
                                            </div>


                                            <div class="mt-4 pd-bx">
                                                <div class="col-md-12">
                                                    <div class="asset-details">
                                                        <div class="row mb-3">
                                                            <div class="col-sm-12 col-xl-2 colum-bx">
                                                                <div class="uplod-inputbx">
                                                                    <label>Current Password</label>
                                                                </div>

                                                            </div>

                                                            <div class="col-sm-12 col-xl-10 colum-bx">
                                                                <div class="tble-serch ">
                                                                    <input type="password" placeholder="Enter First name" title="Enter First name" class="form-control">
                                                                </div>

                                                            </div>

                                                            <div class="col-sm-12 col-xl-2 colum-bx">
                                                                <div class="uplod-inputbx">
                                                                    <label>New Password </label>

                                                                </div>

                                                            </div>

                                                            <div class="col-sm-12  col-xl-10 colum-bx">
                                                                <div class="tble-serch ">
                                                                    <input type="Password" placeholder="New Password" title="New Password" class="form-control">
                                                                </div>

                                                            </div>

                                                            <div class="col-sm-12 col-xl-2 colum-bx">
                                                                <div class="uplod-inputbx">
                                                                    <label>Confirm Password</label>

                                                                </div>

                                                            </div>

                                                            <div class="col-sm-12 col-xl-10 colum-bx">
                                                                <div class="tble-serch ">
                                                                    <input type="Password" placeholder="Confirm Password" title="Enter mail ID" class="form-control">
                                                                </div>

                                                            </div>

                                                            <div class="usrad-btn sve-btn text-end">
                                                                <a href="#">Save</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
					</form>
                </div>
                
                
                
     </div>

</body>

</html>