<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Ai Upload </title>

</head>

<body>

    <div class="mangeuser-page assetdta-page uploaddata-page importaset-ai">

    <div class="page-hding">
         <h1>Unlock the power of AI</h1>>
    </div>

    <div class="dtatable-card mt-4">

         <form id="dashboardFormDTO"  name="dashboardFormDTO"  th:object="${dashboardFormDTO}" method="post">  
                   
	               
                <div class="dtatable-card mt-4">
                   <div class="ai-bg">
                        <div class="ai-hding text-center">
                            <h1>Upload Your <span>File</span> with AI</h1>
                        </div>
                        <div class="upload-bx">
                            <img src="./images/upload-icon.svg" class="img-fluid" title="import asset" alt="upload-data">
                            <span>Drag &amp; Drop files here to upload</span>
                            <button type="upload"><img src="./images/attachment-icon.svg" class="mr-5">Choose
                                File</button>
                            <span>Maximum upload size 10 MB</span>
                            <input type="file">
                        </div>

                        <div class="upload-priview-bx">
                            <div class="priview-img">
                                <img src="./images/priview.jpg" alt="priview" title="">
                            </div>
                            <div class="priview-detail">
                                <a href="aifiledetails.html">
                                    <span>File Name Will Be There.png</span>
                                </a>
                                <div class="processbar">
                                    <!-- <progress id="file" value="32" max="100" class=" process-tag"> 32% </progress> -->


                                    <div class="progress uniqid-proces gren-color process-tag">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="trash-icon">
                                        <img src="./images/trashicon.svg" alt="trashicon" title="Delete" data-bs-toggle="modal" data-bs-target="#deletefile">
                                    </div>
                                </div>
                                <div class="status-icon">
                                    <img src="./images/uploaded-sucess.svg" alt="uploaded-sucess" title="">
                                    <span>Uploading</span>
                                </div>

                            </div>


                        </div>
                        <div class="filedetals-ai">
                            <div class="usrad-btn justify-content-end useradded-btns mt-0 mb-0">
                                <a href="#" class="btn-aduser" data-bs-toggle="modal" data-bs-target="#processfile">Process File</a>
                            </div>
                        </div>

                    </div>

  <!-- sucess Modal -->
        <div class="editaifile-modal position-relative delete-modal sucessmodal">
            <div class="modal fade " id="processfile" tabindex="-1" aria-labelledby="processfile" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">


                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-xmark"></i>
                        </button>

                        <div class="modal-body text-center">
                            <div class="delete-icon ">
                                <img src="./images/sucess-icon.svg" class="img-fluid" alt="sucess" title="">
                            </div>
                            <p>Your data has been uploaded
                                successfully</p>

                            <div class="delete-btn">
                                <a href="#" class="cencelbtn" data-bs-dismiss="modal">ok</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- delete Modal -->
        <div class="editaifile-modal position-relative delete-modal">
            <div class="modal fade " id="deletefile" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">


                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-xmark"></i>
                        </button>

                        <div class="modal-body text-center">
                            <div class="delete-icon ">
                                <img src="./images/delet-icon.svg" class="img-fluid" alt="delet-icon" title="">
                            </div>
                            <p>Do you really want to delete these records?<br>
                                This process cannot be undone.</p>

                            <div class="delete-btn">
                                <a href="#" class="cencelbtn" data-bs-dismiss="modal">Cancel</a>
                                <a href="#" class="confirm" data-bs-dismiss="modal">Delete</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


             	                     
             
		                              
	</form>
	
						
	</div>
	</div>				

</body>

</html>