<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Asset Data</title>



 <script>

		var globalTable;		
			
    	$(document).ready(function() {	
     		hideSpinner();	
     		
     		if( $('#assetDataTable').length){     			
     			var table = $('#assetDataTable').DataTable( {
					 	responsive: true,
            	//retrieve: true,
     	 	//	searchHighlight: true,
     	       //      	responsive: true,	10-25-2023  this has to be off, since we are using position 0 to expand for the details data             	 			        
             	//"paging":   true,  
            /* 	scrollCollapse: true,
             	scrollY: 'calc(100vh - 35rem)', */
             	
             	order: [1, 'asc' ],	

     	    	ajax: {
           		    url: 'getAllAsset',
           		 	type: 'POST',
            		contentType: 'application/json',
            		data: function ( data ) {
            			showSpinner();            	
            			var myData = {version:"1.0", clientId:"locuslink"};
            			var innerData = {};    
            			myData["data"] = innerData;	                  			
                		return JSON.stringify( myData );
     	        }, 
     	        "dataSrc": function (json) {
     	        	uniqueassetlist = json.data.uniqueassetlist;	     	        	
     	        	hideSpinner();		    		     	      	        	
     	        	return JSON.parse(uniqueassetlist);     	        	      	        	
     	         }					       
        		},  
     
             columns: [	                	 
	 			 /* { "className": 'details-control',
 	               "orderable": false,
 	               "data":      null,
 	               "defaultContent": ''
	 	         },	  */	                       	      
	 	         { title: "Details",
	 	           data: null,
 	               className: "controlColumns",
 	               "render": function(data, type, row, meta){	            		
                    	data ="<div class='action-buttons'>" 
                    	+"<button id='detail_" + row.uniqueAssetPkId+ "' class='button button--text'  type='button'> <i class='fas fa-chart-bar fa-lg' title='Asset Details'></i></button>&nbsp;&nbsp;&nbsp;"
                    	+"<button id='barcode_" + row.uniqueAssetPkId+ "' class='button button--text' type='button'> <i class='fas fa-file-invoice fa-lg' title='BarCode Viewer'></i></button>&nbsp;&nbsp;&nbsp;"
                    	+"<button id='delete_" + row.uniqueAssetPkId+ "' class='button button--text' type='button'> <i class='far fa-trash-alt fa-lg' title='Delete Asset'></i></button></div>";	                    
	                return data;
	 	         }}, 
                   	         
	             { data: "uniqueAssetPkId" },	               
                 { data: "uniqueAssetId" },                   
                 { data: "manufacturerName" },                 
                 { data: "productTypeCode" },
                 { data: "traceTypeCode" },
                 { data: "traceCode" },                    
                 { data: "customerName" },                 
                 { data: "universalCatalogId" },                    
                 { data: "cdugtPkId" },                   
                 { data: "industryDesc" },
                 { data: "subIndustryDesc" },
                 { data: "productTypeDesc" },
                 { data: "productSubTypeDesc" },                 
                 { data: "productTypeDesc" }                
            	],   
             	        		            	          	
           });
     	 }	 
     			
     			
     	 
     	 // Button Clicks on the Data table
  	    $('#assetDataTable tbody').on('click', 'button', function (e) {
	    	//console.log(this);
	    	
	    	var url='';
	    	var whatWasClicked=$(this).attr("id").split("_")[0];
	    	var uniqueAssetPkId=$(this).attr("id").split("_")[1];
	    		 	    				
	        // set the FORM value so the controller can get it.				
			$('#uniqueAssetPkId').val(uniqueAssetPkId).val().trim();
	        
	        	        
	   	    e.preventDefault(); // ??	    	
			showSpinner();
	    		   	    	    
			if(whatWasClicked==="detail") {

       			showSpinner();											 	
     
       			// 5-17-2023
				//submitFormAjaxHTML('initAssetAttachments', $("#dashboardFormDTO").serialize(), "modalResponse");	       			       	       	       	       												
	   			submitFormAjaxHTML('initAssetDetail', $("#dashboardFormDTO").serialize(), "commonResponse");														
	 
	   			
    		} else if(whatWasClicked==="barcode") {

    			// 3-21-2023
       			showSpinner();								
       			submitFormAjaxHTML('getBarcodeForAsset', $("#dashboardFormDTO").serialize(), "modalResponse");	

    		} else if(whatWasClicked==="delete") {
    			url = "deleteAsset";	
    		}
			 			
	    }); 
	    
	    
     	 
  		// SEARCH FILTER
  		
      /*   $(".dataTables_length select").addClass("form-control"); */
  		
  		
  		$('#assetDataTable_filter input').keyup(function(){
 			table.search($(this).val()).draw() ;
 		});  
 		
/*    		$('#previous').click(function() {					
   			showSpinner();								
   			submitFormAjaxHTML('initMyWorkspace', $("#dashboardFormDTO").serialize(), "commonResponse");														
   		});	 */ 		 		
 		
	
   	 });  
    	    	    
   	 function modalResponse(returnData) {	
 		hideSpinner();			 		
 		$('#asset_ModalBody').html(returnData); 	 		 		 		
 	 }   	 
   	 
	 function commonResponse(returnData) {	
		hideSpinner();
		$('#mainBody').html(returnData); 
		hideSpinner();			
	 }
					
		
  </script>
	
</head>

<body>
                
     <div class="page-hding page-hding">
         <h1>Asset Data</h1>
     </div>

     <div class="dtatable-card mt-4">
     
   		<form id="dashboardFormDTO" name="dashboardFormDTO"  th:object="${dashboardFormDTO}" >  
        	
        	<input type="hidden" id="uniqueAssetPkId" name="uniqueAssetPkId" >
     
               <table id="assetDataTable" class="table table-striped recent-uplod-tble mt-4 manguser-table" style="width: 100%">

                        <thead class="thead-light">
                           <tr>
   							<!-- <th scope="col"></th>       --> 
   							<th scope="col"></th>   
                              <th scope="col">Id</th>	                                 	                          	                                 
                              <th scope="col">Unique Asset ID</th>
                              <th scope="col">Manufacturer</th>
                              <th scope="col">Product Type</th>
                              <th scope="col">Trace Type</th>	
						<th scope="col">Trace Number</th>		                                                                     	                             	                             
                           	<th scope="col">Customer</th>

                              <th scope="col">Universal Catalog ID</th>	
                              <th scope="col">cdugt</th>
							 <th scope="col" style="min-width:100px">Industry</th>
                                <th scope="col" style="min-width:100px">Sub Industry</th>	 
  								 <th scope="col" style="min-width:200px">Asset</th>	 
       							 <th scope="col" style="min-width:100px">Sub Asset</th>	           							           							 
                          	<th scope="col">PType Description]</th> 
                           </tr>
                        </thead>
                </table>
                              
    </form> 
                    
   </div>
   
   		<!-- C.Sparks This is a place holder for the Modal dialog to be created. -->
   	    <div id="asset_ModalBody">	
	    </div>
	    
	    
</body>

</html>