<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Ai File Details </title>

</head>

<body>

<div class="mangeuser-page importasset-page aiuplod-page"> 

    <div class="page-hding">
        <!-- <h1>Import Assets Via AI Assistance</h1> -->
    </div>

    <div class="dtatable-card mt-4">

         <form id="dashboardFormDTO"  name="dashboardFormDTO"  th:object="${dashboardFormDTO}" method="post">  
                   
	               <div class="content dtatable-card mt-4">
                    <div class="multisteps-form">

                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div class="multisteps-form__progress">
                                    <button class="multisteps-form__progress-btn js-active" type="button" title="Step 1"
                                        data-title="Step 1">Step <span>1</span>
                                    </button>
                                    <button class="multisteps-form__progress-btn" type="button" title="Step 2"
                                        data-title="Step 2">Step <span>2</span></button>
                                    <button class="multisteps-form__progress-btn" type="button" title="Step 3"
                                        data-title="Step 2">Step <span>3</span>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <!--form panels-->
                        <div class="adduser-form-bx addaset-formbx borderbx">
                            <form class="multisteps-form form">
                                <!--single form panel-->
                                <div class="multisteps-form__panel js-active" data-animation="slideHorz">

                                    <div class="multisteps-form__content">

                                        <div class="row justify-content-center ">

                                            <!-- <h5 class="adaset-hding">AI Assistance will help you to import assets</h5> -->
                                            <div class="col-xl-12 colum-bx">
                                                <div class="uploadfile position-relative text-center">
                                                    <input type="file">
                                                    <img src="./images/export.svg" class="img-fluid" alt="export"
                                                        title="">
                                                    <h6>Drag &amp; drop files or <span>Browse</span></h6>
                                                </div>
                                            </div>

                                            <div class="usrad-btn import-astbtn sve-btn justify-content-end">
                                                <button type="button" class="js-btn-next">Next</button>
                                            </div>

                                        </div>





                                    </div>
                                </div>
                                <!--single form panel-->
                                <div class="multisteps-form__panel" data-animation="slideHorz">

                                    <div class="multisteps-form__content">


                                        <table id="aidata-imported2" class="table table-striped mt-4 table-responsive" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Unique Asset ID</th>
                                                <th>Manufacturer</th>
                                                <th> Product Type</th>
                                                <th>Trace Number</th>
                                                <th>Customers</th>
                                                <th>P Type Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                   			 <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>8</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>9</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>10</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>11</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>x1.x2</td>
                                                <td>South Wire </td>
                                                <td>Cable</td>
                                                <td>Serial</td>
                                                <td>Black Hills Energy</td>
                                                <td>lorem ipsum dolor sit amet</td>
                                                <td>
                                                    <div class="acton-btns">
                                                        <a href="edit-asset-ai.html" class="edit-btn"><i
                                                                class="fa-solid fa-pencil"></i></a>
                                                        <a href="#" class="delete-btn"><i
                                                                class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>

                                    </table>

                                        <div
                                            class="usrad-btn import-astbtn sve-btn d-flex justify-content-between mt-4">
                                            <button class="js-btn-prev contine-btn" type="button"
                                                title="Prev">Previous</button>
                                            <button class="js-btn-next" type="button" title="Next">Upload Asset</button>
                                        </div>


                                    </div>
                                </div>
                                <!--single form panel-->
                                <div class="multisteps-form__panel" data-animation="slideHorz">

                                    <div class="multisteps-form__content">
                                        <div class="row">
                                            <div class="success-img text-center">
                                                <img src="./images/user-added.svg" class="img-fluid" alt="user-added"
                                                    title="User Added Successfully.">
                                                <p> Asset has been imported successfully.</p>
                                                <div class="usrad-btn useradded-btns">
                                                    <a href="asset-data.html" class="btn-bcktouser">View Asset List</a>
                                                    <a href="import-asset.html" class="btn-aduser">Import Assets Via Ai</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4 d-none">
                                            <div class="col-md-9 offset-3">
                                                <div
                                                    class="usrad-btn import-astbtn sve-btn d-flex justify-content-between">
                                                    <button class="js-btn-prev contine-btn" type="button"
                                                        title="Prev">Previous</button>
                                                    <button class="js-btn-next" type="button" title="Next">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--single form panel-->

                            </form>
                        </div>
                    </div>



                </div>          		   	                     
             
		                              
	</form>
	
						
	</div>
	</div>				

</body>

</html>